<form [formGroup]='formularioDieta' novalidate autocomplete="off">
  <p-panel header="Dieta" [toggleable]="true">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="nombreId">Nombre *:</label>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
                  <div *ngFor="let mensaje of mensajesErroresNombre">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="descripcionId">Descripción</label>
            </div>
            <div class="ui-grid-col-6">
              <textarea pInputTextarea autoResize="autoResize" formControlName='descripcion' class="form-control" id="descripcionId" placeholder="Ingrese la descripción"></textarea>
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                  <div *ngFor="let mensaje of mensajesErroresDescripcion">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresTipo.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="dropdownTiposComidaId">Tipo *:</label>
            </div>
            <div class="ui-grid-col-6">
              <p-dropdown formControlName='tipo' [options]="arregloTipoDietas" [autoWidth]="false"></p-dropdown>
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresTipo.length>0">
                  <div *ngFor="let mensaje of mensajesErroresTipo">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </p-panel>
  <br>
  <p-panel *ngIf="!esFormularioVer" header="Seleccione las Comidas" [toggleable]="true">
    <app-tabla-comida [numeroRegistros]="3" [arregloComidasSeleccionadas]="arregloComidasSeleccionadas" [mostrarEnFormulario]="true" (comidaDietaSeleccionado)=escucharComidaDietaSeleccionado($event)></app-tabla-comida>
  </p-panel>
<br>
  <p-panel header="Comidas Seleccionadas" [toggleable]="true">
    <div class="row" *ngIf="arregloComidasSeleccionadas">
      <div class="container" *ngIf="arregloComidasSeleccionadas.length==0">
        <p style="color: red">Debe seleccionar al menos una comida</p>
      </div>
      <div *ngIf="arregloComidasSeleccionadas.length >0">
        <div class="container">
          <p-table [value]="arregloComidasSeleccionadas" [paginator]="true" [rows]="7" [responsive]="true" sortField="idTipo" sortMode="single">
            <ng-template pTemplate="header">
              <tr class="text-center">
                <th style="width: 15%" scope="col">Tipo</th>
                <th style="width: 10%" scope="col">Hora</th>
                <th style="width: 50%" scope="col">Descripcion</th>
                <th *ngIf="!esFormularioVer" style="width: 30%" scope="col">Acciones</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-comidaSeleccionada>
              <tr class="text-center">
                <td>{{comidaSeleccionada.comida.tipo.nombre}}</td>
                <td>{{comidaSeleccionada.hora}}</td>
                <td>
                  <textarea pInputTextarea [value]="comidaSeleccionada.comida.descripcion" [disabled]="true" autoResize="autoResize" class="form-control"></textarea>
                </td>
                <td *ngIf="!esFormularioVer">
                  <div class="row justify-content-center">
                    <div  class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                      <button *ngIf="!esFormularioVer" type="button" (click)="abrirModalEditarComidaDieta(comidaSeleccionada)" class="btn btn-warning hvr-icon-pulse">
                        <i style="padding-right: 5%" class="fas fa-edit hvr-icon"></i>
                        Editar</button>
                      <button *ngIf="!esFormularioVer" (click)="confirmar(comidaSeleccionada)" type="button" class="btn btn-danger hvr-icon-pulse">
                        <i style="padding-right: 5%" class="far fa-trash-alt hvr-icon"></i>
                        Quitar</button>
                    </div>

                  </div>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>

      </div>
    </div>
  </p-panel>

</form>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>
