<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Ver plan de entrenamiento'" [icono]="icono"></app-barra-titulo>

    <hr>
    <div *ngIf="planEntrenamientoAVer">
        <app-formulario-plan-entrenamiento [planEntrenamientoSeleccionado]="planEntrenamientoAVer" [esFormularioVer]="true"></app-formulario-plan-entrenamiento>
    </div>
    <br>
    <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-grid-row  justify-content-center">
                    <div class="ui-grid-col-12">
                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                           <button (click)="irListarPlanesEntrenamiento()" class="ui-grid-col-12 btn btn-info">
                                <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<br>