<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Editar ejercicio'" [icono]="icono"></app-barra-titulo>

  <br>
  <p-panel header="Ejercicio">
    <div class="container">
      <div *ngIf="ejercicioAEditar" class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-4" style="padding-left: 3%">
          <div class="row">
            <div class="col-sm-12" style="padding-left:25%">
              <img [src]="urlImagen" alt="" style="max-width: 100%; height: auto; width: 150px;" class="img-thumbnail">
            </div>
            <div class="col-sm-12">
              <br>
              <input type="file" accept="image/gif" (change)="onFileSelected($event)">
            </div>
          </div>

        </div>
        <div class="col-sm-4"></div>
      </div>

      <br>
      <div *ngIf="ejercicioAEditar">
        <app-formulario-ejercicio [ejercicioSeleccionado]="ejercicioAEditar" [esFormularioEditar]="true" (esValidoFormularioEjercicio)="escucharFormularioEjercicio($event)"></app-formulario-ejercicio>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <div class="ui-grid-row  justify-content-center">
            <div class="ui-grid-col-8">
              <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                <button (click)="editarEjercicio()" [disabled]="!(esFormularioEjercicioValido)" type="button" class="ui-grid-col-6 btn btn-primary">
                  <i style="padding-right: 1%" class="fas fa-sync-alt"></i>Editar</button>
                <button (click)="irListarEjercicios()" class="ui-grid-col-6 btn btn-info">
                  <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </p-panel>
</div>
<br>