<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Lista de dietas'" [icono]="icono"></app-barra-titulo>
  <br>
  <app-tabla-dietas [numeroRegistro]="10"></app-tabla-dietas>
  <br>
</div>
<br>