<form [formGroup]='formularioInstructor' novalidate autocomplete="off">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-col-12">
            <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresEspecializacionInstructor.length>0}">
                <div class="ui-grid-col-2">
                    <label class="control-label" for="especializacionId">Especializacion: *</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText class="form-control" id="especializacionId" type="text" formControlName='especializacion' placeholder="Ingrese la especialización" />
                    <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresEspecializacionInstructor.length>0">
                        <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresEspecializacionInstructor">
                            <p>{{mensaje}}</p>
                        </div>
                    </div>
                </div>
            </div>

        <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresRolInstructor.length>0}">
            <div class="ui-grid-col-2">
                <label class="control-label" for="rolId"> Rol: *</label>
            </div>
            <div class="ui-grid-col-6">
                <p-dropdown [autoWidth]="false" [options]="roles"  [placeholder]="'seleccione un rol'" formControlName='rol'></p-dropdown>
                <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresRolInstructor.length>0">
                    <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresRolInstructor">
                        <p>{{mensaje}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>