<form class="form-group" autocomplete="off">
    <div class="row">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Busque por nombre" [(ngModel)]="parametroBusqueda" name="parametroBusqueda"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
              <div class="col-sm-6" style="padding-right: 1%">
                <button (click)="obtenerPorParametro()" class="btn btn-primary btn-block hvr-icon-pulse">
                  <i class="fas fa-search hvr-icon"></i>
                  Buscar</button>
              </div>
              <div class="col-sm-6" style="padding-left: 1%">
      
                <button *ngIf="mostrarBotonAniadir && mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button" 
                (click)="irVistaCrear()">
                  <i class="fas fa-plus hvr-icon"></i>
                  Añadir</button>
              </div>
            </div>
          </div>
      
        </div>
      </div>
</form>

<br>
<div class="row">
  <div>
    <div class="container">
      <div class="content-section implementation">
        <p-table [columns]="columnas" [value]="arregloPlanesEntrenamiento" [paginator]="true" [rows]="filas" [responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columnas.length">
                No existen registros
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-planEntrenamiento>
            <tr class="text-center">
              <td>{{planEntrenamiento.nombre}}</td>
              <td *ngIf="!mostrarEnFormulario">
                <button  [disabled]="!habilitarBoton" (click)="cambiarEstado(planEntrenamiento)" type="button" [ngClass]="{'btn-danger': planEntrenamiento.estado=='0'}" class="btn btn-success btn-block hvr-icon-pulse">
                  <i *ngIf="planEntrenamiento.estado=='0'" style="padding-right: 1%" class="fas fa-times-circle hvr-icon"></i>
                  <i *ngIf="planEntrenamiento.estado=='1'" style="padding-right: 1%" class="fas fa-check-circle hvr-icon"></i>
                  {{planEntrenamiento.estado === 1? "Activo": "Inactivo"}}</button>
              </td>
              <td>
                <div class="row  justify-content-center">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <button *ngIf="!mostrarEnFormulario && mostrarBoton" [routerLink]="['/app','plan-entrenamiento','editar',planEntrenamiento.id]" type="button" class="btn btn-warning hvr-icon-pulse">
                      <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                      Editar</button>
                      <button *ngIf="mostrarEnFormulario" [disabled]="arregloPlanesEntrenamienroSeleccionados.length>0" (click)="seleccionarPlanEntrenamiento(planEntrenamiento)" type="button" class="btn btn-success hvr-icon-pulse">
                        <i style="padding-right: 0%" class="fas fa-hand-pointer hvr-icon"></i>
                        Seleccionar</button>
                        <button (click)="abrirModalOVistaVerPlanEntrenamiento(planEntrenamiento)" type="button" class="btn btn-primary hvr-icon-pulse">
                          <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                      Ver</button>
                  </div>

                </div>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>