<div *ngIf="clienteAEditar" class="container">
        <br>
        <app-migas-pan [items]="items"></app-migas-pan>
        <br>
        <app-barra-titulo [titulo]="'Editar cliente'" [icono]="icono"></app-barra-titulo>
        <br>
        <p-panel header="Informacion Personal">
                <div class="container">
                        <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4" style="padding-left: 3%">
                                        <div class="row">
                                                <div class="col-sm-12" style="padding-left:25%">
                                                        <img [src]="urlImagenUsuario" alt="" style="max-width: 100%; height: auto; width: 150px;" class="img-thumbnail">
                                                </div>
                                                <div class="col-sm-12">
                                                        <br>
                                                        <input type="file" accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)">
                                                </div>
                                        </div>

                                </div>
                                <div class="col-sm-4"></div>
                        </div>
                        <br>
                        <app-formulario-usuario [usuarioSeleccionado]="usuarioAEditar" [esFormularioEditar]="true" (esValidoFormularioUsuario)="escucharFormularioUsuario($event)"></app-formulario-usuario>
                        <br>
                        <app-formulario-cliente [clienteSeleccionado]="clienteAEditar" [esFormularioEditar]="true" (esValidoFormularioCliente)="escucharFormularioCliente($event)"></app-formulario-cliente>

                </div>
                <div class="container">
                        <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                        <div class="ui-grid-row  justify-content-center">
                                                <div class="ui-grid-col-8">
                                                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                                                <button (click)="editarCliente()" [disabled]="!(esFormularioUsuarioValido && esFormularioClienteValido) " type="button" class="ui-grid-col-6 btn btn-primary">
                                                                        <i style="padding-right: 1%" class="fas fa-sync-alt"></i>Editar</button>
                                                                <button (click)="irListar()" class="ui-grid-col-6 btn btn-info">
                                                                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                                        </div>
                                                </div>


                                        </div>

                                </div>

                        </div>
                </div>
        </p-panel>
</div>
<br>