<div class="row">
  <form class="form-group col-sm-7" autocomplete="off">
    <div class="row">
      <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="Busque por nombre" [(ngModel)]="nombre"
          name="parametroBusqueda" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="col-sm-3">
        <button (click)="obtenerPorNombre()" class="btn btn-primary btn-block hvr-icon-pulse">
          <i class="fas fa-search hvr-icon"></i>
          Buscar</button>
      </div>
    </div>
  </form>

  <div class="col-sm-5">
    <div class="row">
      <div class="col-sm-8">
        <p-dropdown id="dropdownId" [dropdownIcon]="'pi pi-search'" [placeholder]="'Busque por tipo'"
          (onChange)="buscarPorDieta($event)" [options]="arregloTiposDieta" [(ngModel)]="tipoDietaSeleccionado">
        </p-dropdown>
      </div>
      <div class="col-sm-4">
        <button *ngIf="!mostrarEnFormulario && mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button"
          [routerLink]="['/app','dieta','crear']">
          <i class="fas fa-plus hvr-icon"></i>
          Añadir</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div>
    <div class="container">
      <div class="content-section implementation">
        <p-table [columns]="cols" [value]="arregloDietas" [paginator]="true" [rows]="filas" dataKey="nombre"
          [responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
              <th style="width: 3em"></th>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="cols.length">
                No existen registros
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
            <tr class="text-center">
              <td>
                <a href="#" [pRowToggler]="rowData">
                  <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
              </td>
              <td>{{rowData.nombre}}</td>
              <td>{{rowData.tipo.nombre}}</td>
              <td *ngIf="!mostrarEnFormulario">
                <button [disabled]="!habilitarBoton" (click)="cambiarEstado(rowData)" type="button"
                  [ngClass]="{'btn-danger': rowData.estado=='0'}" class="btn btn-success btn-block hvr-icon-pulse">
                  <i *ngIf="rowData.estado=='0'" style="padding-right: 1%" class="fas fa-times-circle hvr-icon"></i>
                  <i *ngIf="rowData.estado=='1'" style="padding-right: 1%" class="fas fa-check-circle hvr-icon"></i>
                  {{rowData.estado === 1? "Activo": "Inactivo"}}</button>
              </td>
              <td>
                <div class="row justify-content-center">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <button *ngIf="!mostrarEnFormulario && mostrarBoton" [routerLink]="['/app','dieta','editar',rowData.id]"
                      type="button" class="btn btn-warning hvr-icon-pulse">
                      <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                      Editar</button>
                    <button *ngIf="!mostrarEnFormulario" [routerLink]="['/app','dieta','ver',rowData.id]" type="button"
                      class="btn btn-primary hvr-icon-pulse">
                      <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                      Ver</button>
                    <button *ngIf="mostrarEnFormulario" (click)="abrirModalSeleccionarDieta(rowData)" type="button"
                      class="btn btn-success hvr-icon-pulse">
                      <i style="padding-right: 5%" class="fas fa-hand-pointer hvr-icon"></i>
                      Seleccionar</button>
                  </div>

                </div>
              </td>

            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
              <td [attr.colspan]="columns.length + 1">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">

                  <p-table [value]="rowData.comidasDieta" [responsive]="true">
                    <ng-template pTemplate="header">
            <tr class="text-center">
              <th style="width: 20%" scope="col">Tipo</th>
              <th style="width: 60%" scope="col">Descripcion</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-comidaSeleccionada>
            <tr class="text-center">
              <td>{{comidaSeleccionada.comida.tipo.nombre}}</td>
              <td>
                <textarea pInputTextarea [value]="comidaSeleccionada.comida.descripcion" [disabled]="true"
                  autoResize="autoResize" class="form-control"></textarea>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      </td>
      </tr>
      </ng-template>
      </p-table>
    </div>
  </div>
</div>
</div>