<div class="container">
    <h1 mat-dialog-title>
        <img [src]="icono">
        Editar Selección de Rutina</h1>
      <hr>
      <div >
        <div class="row ">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <label class="control-label" for="rutinaId">Rutina</label>
              </div>
              <div class="col-sm-10">
                <input type="text" pInputText class="form-control" id="rutinaId" [disabled]="true" [value]="rutinaPlanEntrenamientoAEditar.rutina.nombre" >
              </div>
            </div>
          </div>
        </div>
        <br>
        <app-formulario-rutina-plan-entrenamiento [rutinaPlanEntrenamientoSeleccionado]="rutinaPlanEntrenamientoAEditar" (esValidoFormularioRutinaPlanEntrenamiento)="escucharFormularioRutinaPlanEntrenamiento($event)" [esFormularioEditar]="true"></app-formulario-rutina-plan-entrenamiento>
      </div>
      <br>
    
      <div mat-dialog-actions class="container">
          <div class="ui-grid-col-12">
              <div class="justify-content-center">
                  <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                      <button [disabled]="!esFormularioRutinaPlanEntrenamientoValido" type="button" class="btn btn-primary hvr-icon-pulse col-sm-6" (click)="editarRutinaPlanEntrenamiento()">
                          <i style="padding-right: 1%" class="fas fa-sync-alt hvr-icon"></i>
                          Editar
                      </button>
                    <button (click)="onNoClick()" type="button" class="btn btn-info hvr-icon-pulse col-sm-6">
                      <i style="padding-right: 1%" class="fas fa-times">
                      </i>
                      Cancelar
                    </button>
                  </div>
              </div>
          </div>
      </div>   
</div>
