<div class="container">
        <br>
        <app-migas-pan [items]="items"></app-migas-pan>
        <br>
        <app-barra-titulo [titulo]="'Ver ejercicio'" [icono]="icono"></app-barra-titulo>
        <br>
        <p-panel header="Ejercicio">
                <div class="container">
                        <div *ngIf="ejercicioAVer">
                                <div class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-4" style="padding-left: 3%">
                                                <div class="row">
                                                        <div class="col-sm-12" style="padding-left:25%">
                                                                <img [src]="urlImagen" alt="" style="max-width: 100%; height: auto; width: 150px;" class="img-thumbnail">
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-4"></div>
                                </div>
                                <br>
                                <app-formulario-ejercicio [ejercicioSeleccionado]="ejercicioAVer" [esFormularioVer]="true"></app-formulario-ejercicio>
                        </div>

                        <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                        <div class="ui-grid-row  justify-content-center">
                                                <div class="ui-grid-col-8">
                                                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                                                <button (click)="irListarEjercicios()" class="ui-grid-col-12 btn btn-info">
                                                                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                                        </div>
                                                </div>


                                        </div>
                                </div>
                        </div>

                </div>
        </p-panel>

</div>