<div class="" *ngIf="cliente">
        <p-panel header="Informacion Cliente">
                <label style="padding-right: 2%; ">Nombres: </label>
                <input [disabled]="true" type="text" [(ngModel)]="cliente?.usuario.nombres" pInputText
                        placeholder="Nombres">
                <label style="padding-right: 2%; padding-left: 2%">Apellidos: </label>
                <input [disabled]="true" type="text" [(ngModel)]="cliente?.usuario.apellidos" pInputText
                        placeholder="Apellidos">
                <label style="padding-right: 2%; padding-left: 2%">Edad: </label>
                <input [disabled]="true" type="number" [(ngModel)]="edad" pInputText placeholder="Apellidos">
        </p-panel>
</div>