<div class="container">
    <h1 mat-dialog-title>
        <img [src]="icono">
        Añadir Ejercicio A Rutina</h1>
    <hr>
    
    <div mat-dialog-content>
      <div class="row ">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <label class="control-label" for="ejercicioId">Ejercicio</label>
            </div>
            <div class="col-sm-9">
              <input type="text" pInputText class="form-control" id="ejercicioId" [disabled]="true" [value]="ejercicio.nombre" >
            </div>
          </div>
        </div>
      </div>
      <br>
      <app-formulario-ejercicio-rutina (esValidoFormularioEjercicioRutina)="escucharFormularioEjercicioRutina($event)"></app-formulario-ejercicio-rutina>
    </div>
    
    <div mat-dialog-actions class="container">
        <div class="ui-grid-col-12">
            <div class="justify-content-center">
                <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                    <button [disabled]="!esFormularioEjercicioRutinaValido" type="button" class="btn btn-primary hvr-icon-pulse col-sm-6" (click)="seleccionarEjercicioRutina()">
                        <i style="padding-right: 1%" class="fas fa-upload hvr-icon"></i>
                        Añadir
                    </button>
                      <button (click)="onNoClick()" type="button" class="btn btn-info hvr-icon-pulse col-sm-6">
                        <i style="padding-right: 1%" class="fas fa-times">
                        </i>
                        Cancelar
                      </button>
                </div>
            </div>
        </div>
    </div>    
</div>
