<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Registrar tipo de comida'" [icono]="icono"></app-barra-titulo>
  <br>
  <p-panel header="Tipo de comida">
    <div class="container">
      <app-formulario-tipo-comida (esValidoFormularioTipoComida)="escucharFormularioTipoComida($event)"></app-formulario-tipo-comida>
      <br>
      <div class="ui-grid-row">
          <div class="ui-grid-col-12">
              <div class="ui-grid-row  justify-content-center">
                  <div class="ui-grid-col-6">
                      <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                          <button (click)="crearTipoComida()" [disabled]="!esFormularioTipoComidaValido" type="button" class="ui-grid-col-6 btn btn-primary">
                              <i style="padding-right: 1%" class="fas fa-upload"></i>Guardar</button>
                          <button (click)="irListarTiposComida()" class="ui-grid-col-6 btn btn-info">
                              <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <br>
  </p-panel>
</div>
<br>