<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <h1 mat-dialog-title>
    <img [src]="icono">
    Cambiar contraseña </h1>
  <hr>
  <p>Se recomienda usar una contraseña segura que no uses para ningún otro sitio</p>
  <form [formGroup]='formularioCambiarPassword' novalidate autocomplete="off">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-col-12">

        <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresPasswordNuevo.length>0}">
          <div class="ui-grid-col-4">
            <label class="control-label">Contraseña nueva:*</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText class="form-control" type="password" placeholder="Ingrese su nueva contraseña"
              formControlName='passwordNuevo' />
              <div class="alert alert-danger" *ngIf="mensajesErroresPasswordNuevo.length>0">
                <div class="animated fadeInUp" *ngFor="let mensaje of mensajesErroresPasswordNuevo">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
          </div>
        </div>


        <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresPasswordActual.length>0}">
          <div class="ui-grid-col-4">
            <label class="control-label" for="nombreId">Contraseña actual:*</label>
          </div>
          <div class="ui-grid-col-8">
            <input pInputText class="form-control" type="password" placeholder="Ingrese su contraseña actual"
              formControlName='passwordActual' />
              <div class="alert alert-danger" *ngIf="mensajesErroresPasswordActual.length>0">
                <div class="animated fadeInUp" *ngFor="let mensaje of mensajesErroresPasswordActual">
                  <p class="">{{mensaje}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <div mat-dialog-actions class="row">
    <div class="col-sm-12 justify-content-center">
      <div class="btn-group btn-group-toggle  ui-grid-col-12" data-toggle="buttons" role="group">
        <button [disabled]="!esFormularioValido" (click)="cambiarPassword()" type="button"
          class="ui-grid-col-6 btn btn-primary hvr-icon-pulse">
          <i style="padding-right: 1%" class="fas fa-sync-alt">
          </i>
          Cambiar
        </button>
        <button (click)="onNoClick()" type="button" class="ui-grid-col-6 btn btn-info hvr-icon-pulse">
          <i style="padding-right: 1%" class="fas fa-times">
          </i>
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
