<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Lista de planes de entrenamiento'" [icono]="icono"></app-barra-titulo>
    <br>
    <app-tabla-planes-entrenamiento [numeroRegistro]="15"
    ></app-tabla-planes-entrenamiento>
    <br>
</div>
<br>