<p-panel header="Informacion del cliente" [toggleable]="true">
    <div  class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="form-group ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-grid-col-6 justify-content-center">
                    <div class="ui-grid-col-3">
                        <label> Cliente:* </label>
                    </div>
                    <div class="ui-grid-col-9">
                        <p-autoComplete  [disabled]="esFormularioVer" [(ngModel)]="usuario" [suggestions]="usuariosFiltrados" (completeMethod)="filtrarUsuario($event)" placeholder="Busque por nombres o apellidos"
                            size=40 [minLength]="1" [dropdown]="true"  field="nombresApellidos" (onSelect)="seleccionarUsuario($event)"></p-autoComplete>
                    </div>
                </div>
                <div style="padding-left: 3%" class="ui-grid-col-6 justify-content-center">
                    <div class="ui-grid-col-3">
                        <label class="control-label" for="codigoId">Cédula:</label>
                    </div>
                    <div class="ui-grid-col-9">
                        <input pInputText [disabled]="true" class="form-control" id="codigoId" type="text" [(ngModel)]="usuarioAutoComplete.cedula"
                        />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-grid-col-6 justify-content-center">
                    <div class="ui-grid-col-3">
                        <label class="control-label">Dirección:</label>
                    </div>
                    <div class="ui-grid-col-9">
                        <input pInputText [disabled]="true" class="form-control" type="text" [(ngModel)]="usuarioAutoComplete.direccion" />
                    </div>
                </div>
                <div style="padding-left: 3%" class="ui-grid-col-6 justify-content-center">
                    <div class="ui-grid-col-3">
                        <label class="control-label">Teléfono:</label>
                    </div>
                    <div class="ui-grid-col-9">
                        <input pInputText [disabled]="true" class="form-control" type="text" [(ngModel)]="usuarioAutoComplete.telefono" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<br>
<p-panel header="Informacion de Pago" [toggleable]="true">
    <form [formGroup]='formularioCabecera' novalidate autocomplete="off">
        <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="form-group ui-grid-row">
                <div class="ui-grid-col-12">
                    <div class="ui-grid-col-6 justify-content-center">
                        <div class="ui-grid-col-1">
                            <label class="control-label" for="fechaNacimientoId">N°:</label>
                        </div>
                        <div class="ui-grid-col-2">
                            <input pInputText class="form-control" type="text" formControlName='numero' />
                        </div>
                    </div>
                    <div style="padding-left: 3%" class="ui-grid-col-6 justify-content-center">
                        <div class="ui-grid-col-3">
                            <label class="control-label" for="fechaNacimientoId">Fecha:*</label>
                        </div>
                        <div class="ui-grid-col-9">
                            <p-calendar id="fechaNacimientoId" [monthNavigator]="true" [yearNavigator]="true" [locale]="configuracion" yearRange="1950:2018"
                                [showIcon]="true" dateFormat="yy-mm-dd" dataType="string" placeholder="Ingrese fecha de nacimiento"
                                formControlName='fecha'></p-calendar>
                            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresFecha.length>0">
                                <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresFecha">
                                    <p>{{mensaje}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p-panel header="Detalle del Pago" [toggleable]="true">
                <div *ngIf="!esFormularioVer" class="row">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
                        <div class="col-sm-10" style="padding-right: 1%">
                        </div>
                        <div class="col-sm-2" style="padding-left: 1%">
                            <button class="btn btn-success btn-block hvr-icon-pulse" type="button" (click)="abrirModalCrearDetalle()">
                                <i class="fas fa-plus hvr-icon"></i>
                                Añadir</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div>
                        <div class="container">
                            <div class="content-section implementation">
                                <p-table [columns]="columnas" [value]="arregloDetalle" [responsive]="true">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr class="text-center">
                                            <th *ngFor="let col of columns" [style.width]="col.width">
                                                {{col.header}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage" let-columns>
                                        <tr>
                                            <td [attr.colspan]="columnas.length">
                                                No existen registros
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                                        <tr class="text-center">
                                            <td>{{arregloDetalle.indexOf(rowData)+1}}</td>
                                            <td>{{rowData.producto.nombre}}</td>
                                            <td>{{rowData.cantidad}}</td>
                                            <td>{{rowData.precioUnitario | currency}}</td>
                                            <td>{{rowData.total | currency}}</td>
                                            <td *ngIf="!esFormularioVer">
                                                <div class="row justify-content-center">
                                                    <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                                                        <button type="button" class="btn btn-warning hvr-icon-pulse" (click)="abrirModalEditarDetalle(rowData)">
                                                            <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                                                            Editar</button>
                                                        <button type="button" class="btn btn-danger hvr-icon-pulse" (click)="confirmar(rowData)">
                                                            <i style="padding-right: 5%" class="fas fa-trash-alt hvr-icon"></i>
                                                            Quitar
                                                        </button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer">
                                        <tr >
                                            <td style="text-align:right" colspan="4">Subtotal</td>
                                            <td  class="text-center" colspan="colspan">{{subtotal | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right" colspan="4">IVA (12%)</td>
                                            <td  class="text-center" colspan="colspan">{{subTotalIVA | currency}}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right" colspan="4">Total</td>
                                            <td class="text-center"  colspan="colspan">{{total | currency}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>

            </p-panel>
        </div>

    </form>
</p-panel>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
        <p-footer>
          <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
          <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
        </p-footer>
</p-confirmDialog>
    