<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Ver asignación plan de entrenamiento a cliente'" [icono]="icono"></app-barra-titulo>
    <hr>
    <div *ngIf="cliente && planEntrenamientoClienteInstructorAVer">
        <app-formulario-asignacion-plan-entrenamiento [cliente]="cliente" [planEntrenamientoClienteInstructorSeleccionado]="planEntrenamientoClienteInstructorAVer"
            [esFormularioVer]="true">
        </app-formulario-asignacion-plan-entrenamiento>
    </div>
    <br>

    <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-grid-row  justify-content-center">
                    <div class="ui-grid-col-12">
                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                            <button (click)="irListarPlanesEntrenamientoCliente()" class="ui-grid-col-12 btn btn-info">
                                <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>