/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.centered{
    position: fixed;
    top: 33%;
    left: 33%;
  }
  .cargando-texto{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
  }
  