<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Ver comida'" [icono]="icono"></app-barra-titulo>
  <hr>
  <div *ngIf="comidaAVer">
    <app-formulario-comida [comidaSeleccionada]="comidaAVer" [esFormularioVer]="true"></app-formulario-comida>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12" style="padding-left: 31%">
      <div class="row">
        <div class="col-sm-4">
          <button (click)="irListarComidas()" class="btn btn-info btn-block hvr-icon-pulse"><i style="padding-right: 1%"
              class="fas fa-times">
            </i>Cancelar</button>
        </div>

      </div>
    </div>
  </div>
</div>