<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Asignar plan de entrenamiento a cliente'" [icono]="icono"></app-barra-titulo>
    <br>
    <div *ngIf="cliente">
        <app-formulario-asignacion-plan-entrenamiento [cliente]="cliente" [esFormularioCrear]="true" (esValidoFormularioAsignacionPlanEntrenamiento)="escucharFormularioAsignacionPlanEntrenamiento($event)">
        </app-formulario-asignacion-plan-entrenamiento>
    </div>
    <br>

    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <div class="ui-grid-row  justify-content-center">
                <div class="ui-grid-col-12">
                    <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                        <button (click)="crearPlanEntrenamientoClienteInstructor()" [disabled]="!esFormularioPlanEntrenamientoClienteInstructorValido"
                            type="button" class="ui-grid-col-6 btn btn-primary">
                            <i style="padding-right: 1%" class="fas fa-upload"></i>Asignar</button>
                        <button (click)="irListarPlanesEntrenamientoCliente()" class="ui-grid-col-6 btn btn-info">
                            <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>