<form [formGroup]='formularioMedida' novalidate autocomplete="off">
  <div class="animated fadeInUp" *ngIf="mensajeValidacionFecha">
    <p style="color:red">{{mensajeValidacionFecha}}</p>
  </div>

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-col-12">
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresPeso.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="pesoId">Peso (kg)</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText formControlName='peso' class="form-control" id="pesoId" type="number" min="1" step="0.1" placeholder="Ingrese el peso">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresPeso.length>0">
              <div *ngFor="let mensaje of mensajesErroresPeso">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresEstatura.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="estaturaId">Estatura (cm)</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText formControlName='estatura' class="form-control" id="estaturaId" type="number" placeholder="Ingrese la estatura">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresEstatura.length>0">
              <div *ngFor="let mensaje of mensajesErroresEstatura">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresTorax.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="toraxId">Tórax (cm)</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText formControlName='torax' class="form-control" id="toraxId" type="number" placeholder="Ingrese medida del tórax">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresTorax.length>0">
              <div *ngFor="let mensaje of mensajesErroresTorax">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresAbdomen.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="abdomenId">Abdomen (cm)</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText formControlName='abdomen' class="form-control" id="abdomenId" type="number" placeholder="Ingrese medida del adbomen">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresAbdomen.length>0">
              <div *ngFor="let mensaje of mensajesErroresAbdomen">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresMuslo.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="musloId">Muslo (cm)</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText formControlName='muslo' class="form-control" id="musloId" type="number" placeholder="Ingrese medida del muslo">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresMuslo.length>0">
              <div *ngFor="let mensaje of mensajesErroresMuslo">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresPantorrilla.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="pantorillaId">Pantorrilla (cm)</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText formControlName='pantorrilla' class="form-control" id="pantorillaId" type="number" placeholder="Ingrese medida de pantorrilla">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresPantorrilla.length>0">
              <div *ngFor="let mensaje of mensajesErroresPantorrilla">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresBiceps.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="bicepsId">Bíceps (cm)</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText formControlName='biceps' class="form-control" id="bicepsId" type="number" placeholder="Ingrese medida del biceps">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresBiceps.length>0">
              <div *ngFor="let mensaje of mensajesErroresBiceps">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresFecha.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="fechaId">Fecha</label>
        </div>
        <div class="ui-grid-col-6">
          <p-calendar id="fechaId" [monthNavigator]="true" [locale]="configuracionCalendario" yearRange="1950:2018" [showIcon]="true"
            formControlName='fechaRegistro' dateFormat="yy-mm-dd" dataType="string" placeholder="Ingrese fecha de registro"></p-calendar>
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresFecha.length>0">
              <div *ngFor="let mensaje of mensajesErroresFecha">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>