<div class="container">
<br>
<app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Editar rutina'" [icono]="icono"></app-barra-titulo>

  <hr>
  <div *ngIf="rutinaAEditar">
      <app-formulario-rutina [rutinaSeleccionada]="rutinaAEditar" [esFormularioEditar]="true" (esValidoFormularioRutina)="escucharFormularioRutina($event)"></app-formulario-rutina>
  </div>
  <br>

  <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <div class="ui-grid-row  justify-content-center">
                <div class="ui-grid-col-12">
                    <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                        <button (click)="editarRutina()" [disabled]="!esFormularioRutinaValido" type="button" class="ui-grid-col-6 btn btn-primary">
                            <i style="padding-right: 1%" class="fas fa-sync-alt"></i>Editar</button>
                        <button (click)="irListarRutinas()" class="ui-grid-col-6 btn btn-info">
                            <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>