<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Lista de comidas'" [icono]="icono"></app-barra-titulo>

  <br>
  <app-tabla-comida [numeroRegistros]="10"></app-tabla-comida>
</div>
<br>