<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Lista de  ejercicios'" [icono]="icono"></app-barra-titulo>
    <br>
    <app-tabla-ejercicios></app-tabla-ejercicios>
  <br>
</div>
<br>