<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Editar tipo de dieta'" [icono]="icono"></app-barra-titulo>

  <br>
  <p-panel header="Tipo de dieta">
    <div class="container">
      <div>
        <div *ngIf="tipoDietaAEditar">
          <app-formulario-tipo-dieta [tipoDietaSeleccionada]="tipoDietaAEditar" [esFormularioEditar]="true" (esValidoFormularioTipoDieta)="escucharFormularioTipoDieta($event)"></app-formulario-tipo-dieta>
        </div>
        <br>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <div class="ui-grid-row  justify-content-center">
              <div class="ui-grid-col-6">
                <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                  <button (click)="editarTipoDieta()" [disabled]="!esFormularioValido" type="button" class="ui-grid-col-6 btn btn-primary">
                    <i style="padding-right: 1%" class="fas fa-sync-alt"></i>Editar</button>
                  <button (click)="irListarTipoDieta()" class="ui-grid-col-6 btn btn-info">
                    <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </p-panel>
</div>
  <br>