<div *ngIf="usuarioAEditar" class="container">
        <br>
        <app-migas-pan [items]="items"></app-migas-pan>
        <br>
        <app-barra-titulo [titulo]="'Mi  perfil'" [icono]="icono"></app-barra-titulo>
        <br>
        <p-panel header="Informacion Personal">
                <div class="container">
                        <div class="row">

                                <div class="col-sm-4"></div>
                                <div class="col-sm-4" style="padding-left: 3%">
                                        <div class="row">
                                                <div class="col-sm-12" style="padding-left: 30%">
                                                        <img [src]="urlImagenUsuario" alt=""
                                                                style="max-width: 100%; height: auto; width: 150px;"
                                                                class="img-thumbnail">
                                                </div>
                                                <div class="col-sm-12">
                                                        <br>
                                                        <input type="file" (change)="onFileSelected($event)">
                                                </div>
                                        </div>

                                </div>
                                <div class="col-sm-4"></div>
                        </div>
                        <br>


                        <app-formulario-usuario [usuarioSeleccionado]="usuarioAEditar" [esFormularioPerfil]="true"
                                (esValidoFormularioUsuario)="escucharFormularioUsuario($event)">
                        </app-formulario-usuario>
                        <br>
                        <div class="container">
                                <div class="ui-grid-row">
                                        <div class="ui-grid-col-12">
                                                <div class="ui-grid-row  justify-content-center">
                                                        <div class="ui-grid-col-8">
                                                                <div class="btn-group btn-block ui-grid-col-12"
                                                                        data-toggle="buttons" role="group">
                                                                        <button (click)="abrirModalCambiarPassword()"
                                                                        [disabled]="!esFormularioUsuarioValido"
                                                                        type="button"
                                                                        class="ui-grid-col-4 btn btn-warning">
                                                                        <i style="padding-right: 1%"
                                                                                class="fas fa-key"></i>Cambiar Contraseña</button>
                                                                        <button (click)="editarPerfil()"
                                                                                [disabled]="!esFormularioUsuarioValido"
                                                                                type="button"
                                                                                class="ui-grid-col-4 btn btn-primary">
                                                                                <i style="padding-right: 1%"
                                                                                        class="fas fa-sync-alt"></i>Editar</button>

                                                                        <button (click)="irInicio()"
                                                                                class="ui-grid-col-4 btn btn-info">
                                                                                <i style="padding-right: 1%"
                                                                                        class=" fas fa-times "></i>Cancelar</button>
                                                                </div>
                                                        </div>


                                                </div>

                                        </div>

                                </div>
                        </div>
                </div>
                <br>
        </p-panel>
</div>
<br>