<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Resetear password usuario'" [icono]="icono"></app-barra-titulo>
<br>
<form class="form-group" autocomplete="off">
    <div class="row">
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Busque por nombres o apellidos" [(ngModel)]="parametro" name="parametro"
            aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
              <div class="col-sm-6" style="padding-right: 1%">
                <button (click)="obtenerPorParametro()" class="btn btn-primary btn-block hvr-icon-pulse">
                  <i class="fas fa-search hvr-icon"></i>
                  Buscar</button>
              </div>
            </div>
          </div>
    
        </div>
      </div>
</form>


  <br>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <p-table [columns]="columnas" [value]="usuariosFiltrados" [paginator]="true" [rows]="10" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usuario>
              <tr>
                <td>{{usuario.nombres}}</td>
                <td>{{usuario.apellidos}}</td>
                <td>
                  <div class="row justify-content-center">
                      <button type="button" class="btn btn-warning hvr-icon-pulse" (click)="confirmar(usuario)">
                        <i style="padding-right: 0%" class="fas fa-list hvr-icon"></i>
                         resetear password
                      </button>
                  </div>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>


</div>
<br>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
