<form [formGroup]='formularioEjercicioRutina' novalidate autocomplete="off">
  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresSeries.length>0}">
        <div class="col-sm-3">
          <label class="control-label" for="seriesId">Series:*</label>
        </div>
        <div class="col-sm-9">
          <input type="number" pInputText formControlName='series' class="form-control" id="seriesId" placeholder="Ingrese el número de series">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresSeries.length>0">
              <div *ngFor="let mensaje of mensajesErroresSeries">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresRepeticiones.length>0}">
        <div class="col-sm-3">
          <label class="control-label" for="repeticionesId">Repeticiones:*</label>
        </div>
        <div class="col-sm-9">
            <input type="number"  formControlName='repeticiones' class="form-control" id="repeticionesId" placeholder="Ingrese el número de repeticiones">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresRepeticiones.length>0">
              <div *ngFor="let mensaje of mensajesErroresRepeticiones">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresPeso.length>0}">
        <div class="col-sm-3">
          <label class="control-label" for="descansoId">Peso (kg):*</label>
        </div>
        <div class="col-sm-9">
            <input type="number" pInputText formControlName='peso' class="form-control" id="pesoId" placeholder="Ingrese el peso (kg)">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresPeso.length>0">
              <div *ngFor="let mensaje of mensajesErroresPeso">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresDescanso.length>0}">
        <div class="col-sm-3">
          <label class="control-label" for="descansoId">Descanso (minutos):*</label>
        </div>
        <div class="col-sm-9">
            <input type="number" pInputText formControlName='descanso' class="form-control" id="descansoId" placeholder="Ingrese el tiempo de descanso (minutos)">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescanso.length>0">
              <div *ngFor="let mensaje of mensajesErroresDescanso">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
