<app-informacion-cliente [cliente]="cliente"></app-informacion-cliente>
<br>
<form [formGroup]='formularioPlanDietaCliente' novalidate autocomplete="off">
  <p-panel header="Asignación de plan de dieta" [toggleable]="true">
    <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row" [ngClass]="{'has-error': mensajesErroresFechaInicio.length>0}">
            <div class="col-sm-4">
              <label class="control-label" for="fechaInicioId">Fecha de Inicio:*</label>
            </div>
            <div class="col-sm-6" style="padding-left: 1%;">
              <p-calendar id="fechaInicioId" [monthNavigator]="true" [locale]="configuracion" [showIcon]="true" dateFormat="yy-mm-dd" dataType="string"
                placeholder="Ingrese fecha de inicio" formControlName='fechaInicio'></p-calendar>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresFechaInicio.length>0">
                <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresFechaInicio">
                  <p>{{mensaje}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group row" [ngClass]="{'has-error': mensajesErroresFechaFin.length>0}">
            <div class="col-sm-4">
              <label class="control-label" for="fechaFinId">Fecha de Fin:*</label>
            </div>
            <div class="col-sm-6" style="padding-left: 1%;">
              <p-calendar id="fechaFinId" [monthNavigator]="true" [locale]="configuracion" [showIcon]="true" dateFormat="yy-mm-dd" dataType="string"
                placeholder="Ingrese fecha de inicio" formControlName='fechaFin'></p-calendar>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresFechaFin.length>0">
                <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresFechaFin">
                  <p>{{mensaje}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>

</form>
<br>
<div  *ngIf="!esFormularioVer">
    <p-panel header="Lista de  planes de dieta" [collapsed]="esFormularioEditar" [toggleable]="true">
        <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <app-tabla-planes-dieta
            [numeroRegistro]="5"
            [mostrarBotonAniadir]='mostrarBotonAniadir'
            [idCliente]="cliente?.id"
            [mostrarEnFormulario]="true"
            [arregloPlanesDietaSeleccionados]="arregloPlanesDietaSeleccionado"
            (planDietaSeleccionado)="escucharPlanDieta($event)"
            ></app-tabla-planes-dieta>
        </div>
    </p-panel>
    <br>
</div>


<p-panel header="Plan de dieta seleccionado" [toggleable]="true">
  <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="row">
      <div  class="container" *ngIf="arregloPlanesDietaSeleccionado.length==0">
        <p style="color: red">Debe seleccionar solo un plan de dieta</p>
      </div>
      <div *ngIf="arregloPlanesDietaSeleccionado.length>0">
        <div class="container">
          <div class="content-section implementation">
            <p-table [columns]="columnas" [value]="arregloPlanesDietaSeleccionado"
              [paginator]="true" [rows]="5" [responsive]="true" >
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                  <td [attr.colspan]="columnas.length">
                    No existen registros
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr class="text-center">
                  <td>{{rowData.nombre}}</td>
                  <td>
                    <div class="row justify-content-center">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                        <button (click)="abrirModalVerPlanDieta(rowData)" type="button" class="btn btn-primary hvr-icon-pulse">
                          <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                          Ver</button>
                          <button class="btn btn-success btn-block hvr-icon-pulse" 
                          type="button" (click)="imprimir(rowData)">
                              <i class="fas fa-print hvr-icon"></i>
                              Ver en PDF</button>
                          <button  *ngIf="!esFormularioVer" (click)="confirmar(rowData)" type="button" class="btn btn-danger hvr-icon-pulse">
                            <i style="padding-right: 5%" class="fas fa-trash-alt hvr-icon"></i>
                            Quitar</button>
                      </div>

                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-panel>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>