<div class="container">
  <h3 mat-dialog-title>
    <i class="fa fa-shopping-cart" style="padding-right: 2%"></i>
    Añadir Detalle</h3>
  <hr>

  <app-formulario-detalle [detalleSeleccionado]="detalleACrearEditar" (esValidoFormularioDetalle)="escucharFormularioDetalle($event)"
    [arregloDetalle]="data.arregloDetalle">
  </app-formulario-detalle>
  <br>
  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <div class="ui-grid-row  justify-content-center">
        <div class="ui-grid-col-12">
          <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
            <button [disabled]="!esFormularioDetalleValido" type="button" (click)="guardarDetalle()" class="ui-grid-col-6 btn btn-primary hvr-icon-pulse">
              <i style="padding-right: 5%" class="fas fa-upload hvr-icon"></i>
              Añadir
            </button>
            <button (click)="onNoClick()" type="button" class="ui-grid-col-6 btn btn-info hvr-icon-pulse">
              <i style="padding-right: 5%" class="fas fa-times">
              </i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>