<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Registrar medidas'" [icono]="icono"></app-barra-titulo>
  <br>
  <div *ngIf="cliente">
    <app-informacion-cliente [cliente]="cliente"></app-informacion-cliente>
  </div>
  <br>
  <p-panel header="Medidas">
    <div *ngIf="cliente" class="container">
      <app-formulario-medida [cliente]="cliente" (esValidoFormularioMedida)="escucharFormularioMedida($event)"></app-formulario-medida>
    <br>
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <div class="ui-grid-row  justify-content-center">
            <div class="ui-grid-col-8">
              <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                <button (click)="crearMedida()" [disabled]="!esFormularioMedidasValido" type="button" class="ui-grid-col-6 btn btn-primary">
                  <i style="padding-right: 1%" class="fas fa-upload"></i>Guardar</button>
                <button (click)="irListarMedidas()" class="ui-grid-col-6 btn btn-info">
                  <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
      <br>
  </p-panel>
</div>
<br>