<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Registrar comida'" [icono]="icono"></app-barra-titulo>

    <hr>
    <p-panel header="Comida">

        <div>
            <app-formulario-comida (esValidoFormularioComida)="escucharFormularioComida($event)" [esFormularioCrear]="true"></app-formulario-comida>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                <div class="ui-grid-row  justify-content-center">
                    <div class="ui-grid-col-8">
                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                            <button (click)="crearComida()" [disabled]="!esFormularioComidaValido" type="button" class="ui-grid-col-6 btn btn-primary">
                                <i style="padding-right: 1%" class="fas fa-upload"></i>Guardar</button>
                            <button (click)="irListarComidas()" class="ui-grid-col-6 btn btn-info">
                                <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </p-panel>

</div>
<br>