<div class="container">
        <br>
        <app-migas-pan [items]="items"></app-migas-pan>
        <br>
        <app-barra-titulo [titulo]="'Registrar instructor'" [icono]="icono"></app-barra-titulo>
        <br>
        <p-panel header="Informacion Personal">
                <div class="container">
                        <app-formulario-usuario [esFormularioCrear]="true" (esValidoFormularioUsuario)="escucharFormularioUsuario($event)"></app-formulario-usuario>
                        <div class="row">
                                <div class="col-sm-12">
                                        <div class="row">
                                                <div class="col-sm-2">
                                                        <label class="control-label" for="fotodId">Foto</label>
                                                </div>
                                                <div class="col-sm-6">
                                                        <input type="file" (change)="onFileSelected($event)">
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <br>
                        <app-formulario-instructor [esFormularioCrear]="true" (esValidoFormularioInstructor)="escucharFormularioInstructor($event)"></app-formulario-instructor>

                        <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                        <div class="ui-grid-row  justify-content-center">
                                                <div class="ui-grid-col-8">
                                                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                                                <button (click)="crearInstructor()" [disabled]="!(esFormularioUsuarioValido && esFormularioInstructorValido) " type="button"
                                                                        class="ui-grid-col-6 btn btn-primary">
                                                                        <i style="padding-right: 1%" class="fas fa-upload"></i>Guardar</button>
                                                                <button (click)="irListar()" class="ui-grid-col-6 btn btn-info">
                                                                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <br>
        </p-panel>
<br>
</div>