<form [formGroup]='formularioComidaDieta' novalidate autocomplete="off">
    <div class="row ">
      <div class="col-sm-12">
        <div class="form-group row" [ngClass]="{'has-error': mensajesErroresHora.length>0}">
          <div class="col-sm-2">
            <label class="control-label" for="horaId">Hora</label>
          </div>
          <div class="col-sm-10">
            <input formControlName='hora' type="time">
              <div>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresHora.length>0">
                <div *ngFor="let mensaje of mensajesErroresHora">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  