<form [formGroup]='formularioRutina' novalidate autocomplete="off">

  <div class="row ">
    <div class="col-sm-12">
      <p-panel header="Rutina" [toggleable]="true">
        <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="nombreId">Nombre:*</label>
            </div>
            <div class="ui-grid-col-8">
              <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
                  <div *ngFor="let mensaje of mensajesErroresNombre">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="descripcionId">Descripción</label>
            </div>
            <div class="ui-grid-col-8">
              <textarea pInputTextarea autoResize="autoResize" formControlName='descripcion' class="form-control" id="descripcionId" placeholder="Ingrese la descripción"></textarea>
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                  <div *ngFor="let mensaje of mensajesErroresDescripcion">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-panel>
      <br>
      <div *ngIf="!esFormularioVer">
        <p-panel header="Lista de ejercicios" [toggleable]="true">
          <app-tabla-ejercicios [musculo]="rutinaSeleccionada?.musculo" [mostrarEnFormulario]="true" [arregloEjerciciosRutina]="arregloEjerciciosRutina"
            (musculoSeleccionado)="escucharEventoMusculo($event)" (ejercicioRutinaSeleccionado)="escucharEventoEjercicioRutina($event)"></app-tabla-ejercicios>
        </p-panel>

        <br>
      </div>

      <p-panel header="Ejercicios seleccionados" [toggleable]="true">
        <div class="container">
          <div *ngIf="arregloEjerciciosRutina.length==0">
            <p style="color: red">Debe seleccionar al menos un ejercicio</p>
          </div>
          <div *ngIf="arregloEjerciciosRutina.length >0">
            <div>
              <p-table [value]="arregloEjerciciosRutina" [paginator]="true" [rows]="5" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr class="text-center">
                    <th style="width: 20%" scope="col">Ejercicio</th>
                    <th style="width: 10%" scope="col">Series</th>
                    <th style="width: 17%" scope="col">Repeticiones</th>
                    <th style="width: 10%" scope="col">Peso (kg)</th>
                    <th style="width: 13%" scope="col">Descanso (minutos)</th>
                    <th style="width: 30%" scope="col">Acciones</th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ejercicioRutina>
                  <tr class="text-center">
                    <td>{{ejercicioRutina.ejercicio.nombre}}</td>
                    <td>{{ejercicioRutina.series}}</td>
                    <td>{{ejercicioRutina.repeticiones}}</td>
                    <td>{{ejercicioRutina.peso}}</td>
                    <td>{{ejercicioRutina.descanso}}</td>
                    <td>
                      <div class="row justify-content-center">
                        <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                          <button type="button" (click)="abrirModalVerEjercicio(ejercicioRutina.ejercicio)" class="btn btn-primary hvr-icon-pulse">
                            <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                            Ver</button>
                          <button *ngIf="!esFormularioVer" type="button" (click)="abrirModalEditarEjercicioRutina(ejercicioRutina)" class="btn btn-warning hvr-icon-pulse">
                            <i style="padding-right: 5%" class="fas fa-edit hvr-icon"></i>
                            Editar</button>
                          <button *ngIf="!esFormularioVer" type="button" (click)="confirmar(ejercicioRutina)" class="btn btn-danger hvr-icon-pulse">
                            <i style="padding-right: 5%" class="far fa-trash-alt hvr-icon"></i>
                            Quitar</button>

                        </div>

                      </div>
                    </td>

                  </tr>
                </ng-template>
              </p-table>
            </div>

          </div>
        </div>
      </p-panel>


      <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
        <p-footer>
          <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
          <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
        </p-footer>
      </p-confirmDialog>
    </div>
  </div>
</form>