<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <p-toolbar>
    <div class="ui-toolbar-group-left col-sm-8">
      <h2><i class="fas fa-users" style="padding-right: 2%"></i>Lista de Clientes</h2>
    </div>
  </p-toolbar>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="Busque por nombre o código" [(ngModel)]="parametroBusqueda" name="parametroBusqueda"
        aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
          <div class="col-sm-6" style="padding-right: 1%">
            <button (click)="obtenerPorParametro()" class="btn btn-primary btn-block hvr-icon-pulse" type="button">
              <i class="fas fa-search hvr-icon"></i>
              Buscar</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <p-table [columns]="columnas" [value]="clientes" [paginator]="true" [rows]="10" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
              <tr>
                <td>{{cliente.usuario.nombres}}</td>
                <td>{{cliente.usuario.apellidos}}</td>
                <td>{{cliente.codigo}}</td>
                <td>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-warning hvr-icon-pulse" (click)="clickBoton(cliente)">
                        <i style="padding-right: 0%" class="fas fa-list hvr-icon"></i>
                        {{nombreBoton}}
                      </button>
                    </div>
                    <div class="col-sm-2"></div>

                  </div>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>


</div>
<br>