<div *ngIf="cliente" class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Lista de medidas'" [icono]="icono"></app-barra-titulo>
  <br>
  <app-informacion-cliente *ngIf="cliente" [cliente]="cliente"></app-informacion-cliente>
<br>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <div class="ui-toolbar-group-right">
            <div class="row">
              <div class="col-sm-12">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <button *ngIf="mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button"
                    [routerLink]="['/app','cliente',cliente.id,'medidas','crear']"                    >
                    <i class="fas fa-plus hvr-icon"></i>
                      Registrar Medidas</button>
                  <button (click)="abrirModalGraficos()" type="button" class="btn btn-primary hvr-icon-pulse">
                    <i style="padding-right: 5%" class="fas fa-chart-line hvr-icon"></i>
                    Ver grafico de medidas
                  </button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <p-table [columns]="columnas" [value]="arregloMedidas" [paginator]="true" [rows]="10" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-medida>
              <tr class="text-center">
                <td>{{medida.fechaRegistro}}</td>
                <td>{{medida.peso}}</td>
                <td>{{medida.estatura}}</td>
                <td>{{medida.torax}}</td>
                <td>{{medida.abdomen}}</td>
                <td>{{medida.muslo}}</td>
                <td>{{medida.pantorrilla}}</td>
                <td>{{medida.biceps}}</td>
                <td *ngIf="mostrarBoton">
                  <div class="row  justify-content-center">
                    <div class="col-sm-12">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                        <button *ngIf="mostrarBoton"  [routerLink]="['/app','cliente',cliente.id,'medidas','editar',medida.id]" type="button" class="btn btn-warning hvr-icon-pulse">
                          <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                          Editar
                        </button>
                        <button  *ngIf="habilitarBoton" type="button" class="btn btn-danger hvr-icon-pulse" (click)="confirmar(medida)">
                          <i style="padding-right: 5%" class="fas fa-trash-alt hvr-icon"></i>
                          Quitar
                        </button>
                      </div>
                    </div>

                  </div>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>


</div>
<br>