<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Editar medidas'" [icono]="icono"></app-barra-titulo>
    <br>
    <div *ngIf="cliente">
        <app-informacion-cliente [cliente]="cliente"></app-informacion-cliente>
    </div>
    <br>
    <p-panel header="Medidas">
    <div class="container">
            <div *ngIf="medidaAEditar">
                    <app-formulario-medida [cliente]="medidaAEditar.cliente" [medidaSeleccionada]="medidaAEditar" [esFormularioEditar]="true"
                        (esValidoFormularioMedida)="escucharFormularioMedida($event)"></app-formulario-medida>
                </div>  
            <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <div class="ui-grid-row  justify-content-center">
                            <div class="ui-grid-col-8">
                                <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                    <button (click)="editarMedida()" [disabled]="!esFormularioMedidasValido" type="button" class="ui-grid-col-6 btn btn-primary">
                                        <i style="padding-right: 1%" class="fas fa-sync-alt"></i>Editar</button>
                                    <button (click)="irListarMedidas()" class="ui-grid-col-6 btn btn-info">
                                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>

        <br>
    </p-panel>
</div>
<br>