<h1 mat-dialog-title>
    <img [src]="icono">
    Ver Plan Dieta</h1>
<hr>
<div  mat-dialog-content *ngIf="planDietaAVer">
  <app-formulario-plan-dieta [planDietaSeleccionado]="planDietaAVer" [esFormularioVer]="true"></app-formulario-plan-dieta>
</div>
<br>
<div mat-dialog-actions class="container">
    <div class="ui-grid-col-12">
            <div class="justify-content-center">
                    <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                        <button (click)="onNoClick()"  type="button" class="btn btn-info hvr-icon-pulse ui-grid-col-12">
                            <i style="padding-right: 1%" class="fas fa-times">
                            </i>
                            Cancelar
                          </button>
                    </div>
            </div>
    </div>
</div>
