<h1 mat-dialog-title>
  <i class="fa fa-shopping-cart" style="padding-right: 2%"></i>
      Ver Producto</h1>
<hr>
<div *ngIf="productoAVer" mat-dialog-content>
  <app-formulario-producto [productoSeleccionado]="productoAVer" [esFormularioVer]="true"></app-formulario-producto>
</div>
  <div mat-dialog-actions class="row">
      <div class="col-sm-12" style="padding-left: 38%">
          <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
              <button (click)="onNoClick()"  type="button" class="btn btn-success hvr-icon-pulse">
                  <i style="padding-right: 1%" class="fas fa-times">
                  </i>
                  Cancelar
                </button>
      </div>
    </div>


