<div class="container">
    <h1 mat-dialog-title>
        <img [src]="icono"> Ver Rutina</h1>
    <hr>
    <div *ngIf="rutinaAVer" mat-dialog-content>
        <app-formulario-rutina [rutinaSeleccionada]="rutinaAVer" [esFormularioVer]="true"></app-formulario-rutina>
    </div>
    <div mat-dialog-actions class="container">
        <div class="ui-grid-col-12">
            <div class="justify-content-center">
                <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                    <button (click)="onNoClick()" class="ui-grid-col-12 btn btn-info">
                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>