<div class="container">
  <h1 mat-dialog-title>
      <img [src]="icono">
        El password del usuario ha sido reseteado </h1>
  <hr>
  
  <div *ngIf="usuario" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-col-12">
      <div class="form-group ui-grid-row">
        <div class="ui-grid-col-3">
          <label class="control-label">Nombres: </label>
        </div>
        <div class="ui-grid-col-9">
          <input  [disabled]="true" pInputText class="form-control"  type="text" [(ngModel)]="usuario.nombres">
        </div>
      </div>
  
      <div class="form-group ui-grid-row">
        <div class="ui-grid-col-3">
          <label class="control-label">Apellidos: </label>
        </div>
        <div class="ui-grid-col-9">
          <input [disabled]="true" pInputText class="form-control"  type="text" [(ngModel)]="usuario.apellidos">
        </div>
      </div>
  
      <div class="form-group ui-grid-row">
        <div class="ui-grid-col-3">
          <label class="control-label">Password: </label>
        </div>
        <div class="ui-grid-col-9">
          <input [disabled]="true" pInputText class="form-control"  type="text" [(ngModel)]="usuario.password">
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="row">
    <div class="col-sm-12" style="padding-left: 38%">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
            <button (click)="onNoClick()"  type="button" class="btn btn-success hvr-icon-pulse">
                <i style="padding-right: 1%" class="fas fa-times">
                </i>
                Aceptar
              </button>
    </div>
  </div>
  
</div>
