<div *ngIf="clienteSeleccionado" class="container">
        <br>
        <app-migas-pan [items]="items"></app-migas-pan>
        <br>
        <app-barra-titulo [titulo]="'Ver cliente'" [icono]="icono"></app-barra-titulo>
        <br>
        <p-panel header="Informacion Personal">
                <div class="container">
                        <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4" style="padding-left: 8%">
                                        <div class="row">
                                                <div class="col-sm-12">
                                                        <img [src]="urlImagenUsuario" alt="" style="max-width: 100%; height: auto; width: 150px;" class="img-thumbnail">
                                                </div>
                                        </div>
                                </div>
                                <div class="col-sm-4"></div>
                        </div>
                        <br>
                        <app-formulario-usuario [usuarioSeleccionado]="usuarioSeleccionado" [esFormularioVer]="true"></app-formulario-usuario>
                        <app-formulario-cliente [clienteSeleccionado]="clienteSeleccionado" [esFormularioVer]="true"></app-formulario-cliente>

                </div>
                <div class="container">
                        <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                        <div class="ui-grid-row  justify-content-center">
                                                <div class="ui-grid-col-8">
                                                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                                                <button (click)="irListar()" class="ui-grid-col-12 btn btn-info">
                                                                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                                        </div>
                                                </div>


                                        </div>

                                </div>

                        </div>
                </div>
        </p-panel>
        <br>
</div>