<form [formGroup]='formularioPlanDieta' novalidate autocomplete="off">
    <p-panel header="Plan de dieta" [toggleable]="true">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                  <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
                    <div class="ui-grid-col-2">
                      <label class="control-label" for="nombreId">Nombre *:</label>
                    </div>
                    <div class="ui-grid-col-6">
                      <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
                      <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
                          <div *ngFor="let mensaje of mensajesErroresNombre">
                            <p class="">{{mensaje}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
                      <div class="ui-grid-col-2">
                          <label class="control-label" for="descripcionId">Descripción: </label>
                    </div>
                    <div class="ui-grid-col-6">
                        <textarea pInputTextarea autoResize="autoResize" formControlName='descripcion' class="form-control" id="descripcionId" placeholder="Ingrese la descripción"></textarea>
                      <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                          <div *ngFor="let mensaje of mensajesErroresDescripcion">
                            <p class="">{{mensaje}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </p-panel>
</form>
<br>
<p-panel *ngIf="!esFormularioVer" header="Seleccione las dietas del plan de dieta a crear" [toggleable]="true">
  <app-tabla-dietas [numeroRegistro]="3" [arregloPlanDietaDia]="arregloPlanDietaDia" [mostrarEnFormulario]="true" (planDietaDiaSeleccionado)=escucharPlanDietaDiaSeleccionado($event)></app-tabla-dietas>
</p-panel>

<br>

<p-panel  header="Dietas seleccionadas" [toggleable]="true">
    <div *ngIf="esFormularioVer" class="row">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
            <div class="col-sm-10" style="padding-right: 1%">
            </div>
            <div class="col-sm-2" style="padding-left: 1%">
                <button class="btn btn-success btn-block hvr-icon-pulse" 
                type="button" (click)="imprimir()">
                    <i class="fas fa-print hvr-icon"></i>
                    Ver en PDF</button>
            </div>
        </div>
        <br>
    </div>
  <div class="container" *ngIf="arregloPlanDietaDia.length==0">
    <p style="color: red">Debe seleccionar al menos una dieta</p>
  </div>
  <div *ngIf="arregloPlanDietaDia.length >0">
      <div>
        <p-table id = "contenidoAConvertir" [columns]="cols2" [value]="arregloPlanDietaDia" sortField="nombreDia" sortMode="single" (onSort)="onSort()" dataKey="dia">
          <ng-template pTemplate="header" let-columns>
            <tr class="text-center">
              <th *ngFor="let col of columns" [style.width]="col.width">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-expanded="expanded" let-rowData let-rowIndex="rowIndex">
            <tr>
              <td>
                <a href="#" [pRowToggler]="rowData">
                  <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
              </td>
              <td *ngIf="rowGroupMetadata[rowData.nombreDia].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.nombreDia].size">
                {{rowData.dia.nombre}}
            </td>
              <td>{{rowData.dieta.nombre}}</td>
              <td>{{rowData.dieta.tipo.nombre}}</td>
              <td *ngIf="!esFormularioVer" >
                <div class="row justify-content-center">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <button  type="button" class="btn btn-primary hvr-icon-pulse" (click)="abrirModalEditarPlanDietaDia(rowData)">
                      <i style="padding-right: 5%" class="fas fa-sync-alt  hvr-icon"></i>
                      Editar</button>
                    <button type="button" class="btn btn-danger hvr-icon-pulse" (click)="confirmar(rowData)">
                      <i style="padding-right: 0%" class="far fa-trash-alt hvr-icon"></i>
                      Quitar</button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
            <tr>
              <td [attr.colspan]="columns.length + 1">
                <div class="ui-g ui-fluid" style="font-size:16px;padding:20px">
                  <p-table [value]="rowData.dieta.comidasDieta" [responsive]="true">
                    <ng-template pTemplate="header">
                      <tr class="text-center">
                        <th style="width: 20%" scope="col">Tipo</th>
                        <th style="width: 60%" scope="col">Descripcion</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-comidaSeleccionada>
                      <tr class="text-center">
                        <td>{{comidaSeleccionada.comida.tipo.nombre}}</td>
                        <td>
                          <textarea pInputTextarea [value]="comidaSeleccionada.comida.descripcion" [disabled]="true" [autoResize]="autoResize" class="form-control"></textarea>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </div>
</p-panel>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
