
  <div class="body row justify-content-center" 
  [ngStyle]="{'background-image': 'url(' + urlFondoLogin + ')'}"
  style=" 
    margin:0;
    padding:0;
    background:url(urlFondoLogin) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  "
  >

      <div class="col-sm-4"></div>
      <div class="col-sm-3" >
          <br>
          <br>
          <br>
          <p-card>
              <p-header>
                  <div class="container text-center">
                    <br>
                    <h3>Iniciar Sesión</h3>
                  </div>
              </p-header>
                <div class="container">
                    <div class="row justify-content-center">
                        <img [src]="urlLogo" style="height: 70%; width: 70%" alt="">
                      </div>                      
                    <form [formGroup]='formularioLogin' novalidate autocomplete="off" >
            
                      <div class="form-group" [ngClass]="{'has-error': mensajesErroresCedulaUsuario.length>0}">
                        <label for="exampleInputCedula">Cédula o pasaporte</label>
                        <input type="text" class="form-control" id="exampleInputCedula" placeholder="Ingrese su Cédula" formControlName='cedula'
                          pInputText />
                        <div class="alert alert-danger" *ngIf="mensajesErroresCedulaUsuario.length>0">
                          <div *ngFor="let mensaje of mensajesErroresCedulaUsuario">
                            <p>{{mensaje}}</p>
                          </div>
                        </div>
                      </div>
            
                      <div class="form-group" [ngClass]="{'has-error': mensajesErroresPasswordUsuario.length>0}">
                        <label for="exampleInputPassword">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Ingrese su contraseña" formControlName='password'
                          pInputText />
                        <div class="alert alert-danger" *ngIf="mensajesErroresPasswordUsuario.length>0">
                          <div *ngFor="let mensaje of mensajesErroresPasswordUsuario">
                            <p>{{mensaje}}</p>
                          </div>
                        </div>
                      </div>
                      <button type="button" (click)="login()" [disabled]="!formularioLogin.valid" class="btn-primary btn-block"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                    <br>
                    </form>
                    <button type="button" (click)="modalRecuperarPassword()" class="btn-primary btn-block"><i class="fas fa-key"></i> Recuperar contraseña</button>
                </div>
              </p-card>
              <br>
              <br>
              <br>
              <br>
      </div>
      <div class="col-sm-4"></div>

  </div>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="Aceptar" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Cancelar" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>