<br>
<br>
<div class="container" >
    <p-dataGrid [value]="arregloModulos" [rows]="3" >
        <ng-template let-modulo pTemplate="item">
            <div style="padding:3px" class="ui-g-12 ui-md-3">
                <p-card class="btn hvr-grow" [routerLink]="['/app',modulo.ruta, modulo.parametrosOpcionales]">
                    <h4 class="text-center">{{modulo.nombre}}</h4>
                    <img class="card-img-top" [src]='modulo.urlImagen' style="max-width: 100%; height: auto; width: 200px; padding-right: 10%">
                </p-card>
            </div>
        </ng-template>
    </p-dataGrid>
</div>