<form [formGroup]='formularioRutinaPlanEntrenamiento' novalidate autocomplete="off">
  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresDia.length>0}">
        <div class="col-sm-2">
          <label class="control-label" for="diaId">Día</label>
        </div>
        <div class="col-sm-10">
            <p-dropdown [options]="dias" formControlName='dia' ></p-dropdown>
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDia.length>0">
              <div *ngFor="let mensaje of mensajesErroresDia">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
