<form [formGroup]='formularioMusculo' novalidate autocomplete="off">
  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
        <div class="col-sm-2">
          <label class="control-label" for="nombreId">Nombre</label>
        </div>
        <div class="col-sm-4">
          <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
              <div *ngFor="let mensaje of mensajesErroresNombre">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>