<h1 mat-dialog-title>
  <i class="fas fa-weight" style="padding-right: 2%"></i>
  Añadir Medidas</h1>
<hr>
<div  mat-dialog-content>
  <app-formulario-medida [cliente]="cliente" (esValidoFormularioMedida)="escucharFormularioMedida($event)"></app-formulario-medida>
</div>
<div mat-dialog-actions class="row">
<div class="col-sm-12" style="padding-left: 33%">
  <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
    <button (click)="onNoClick()"  type="button" class="btn btn-success hvr-icon-pulse">
        <i style="padding-right: 1%" class="fas fa-times">
        </i>
        Cancelar
      </button>
  <button 
 
    [disabled]="!formularioMedida.valid"
    type="button"  class="btn btn-primary hvr-icon-pulse"  (click)="crearMedida()">
      <i style="padding-right: 1%" class="fas fa-upload"></i> Añadir
    </button>
  </div>
</div>

        
</div>