<h1 mat-dialog-title>
  <i class="fas fa-apple-alt" style="padding-right: 2%"></i>
  Ver Comida</h1>
<hr>
<div *ngIf="comidaAVer" mat-dialog-content>
  <div *ngIf="comidaAVer">
          <app-formulario-comida [comidaSeleccionada]="comidaAVer" [esFormularioVer]="true"></app-formulario-comida>

  </div>
</div>
<div mat-dialog-actions class="row">
  <div class="col-sm-12" style="padding-left: 38%">
          <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                  <button (click)="onNoClick()" type="button" class="btn btn-info hvr-icon-pulse">
                          <i style="padding-right: 1%" class="fas fa-times">
                          </i>
                          Cancelar
                  </button>
          </div>
  </div>