<form [formGroup]='formularioUsuario' novalidate autocomplete="off">
    <div class="animated fadeInUp" *ngIf="mensajeValidacionCedula">
        <p style="color:red">{{mensajeValidacionCedula}}</p>
    </div>

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-col-12" >
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresNombresUsuario.length>0}">
        <div   class="ui-grid-col-2">
          <label class="control-label" for="nombreId">Nombres:*</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText class="form-control" id="nombreId" type="text" placeholder="Ingrese los nombres" formControlName='nombres'
          />
          <div >
              <div class="alert alert-danger" *ngIf="mensajesErroresNombresUsuario.length>0">
                  <div class="animated fadeInUp" *ngFor="let mensaje of mensajesErroresNombresUsuario">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
          </div>
        </div>
      </div>
      
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresApellidosUsuario.length>0}">
        <div class="ui-grid-col-2">
          <label class=" control-label" for="apellidoId">Apellidos:*</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText class="form-control" id="apellidoId" type="text" placeholder="Ingrese los apellidos" formControlName='apellidos'
          />
          <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresApellidosUsuario.length>0">
            <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresApellidosUsuario">
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresCedulaUsuario.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="cedulaId">Cédula / pasaporte:*</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText class="form-control" id="cedulaId" type="text" placeholder="Ingrese la cédula" formControlName='cedula'
          />
          <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresCedulaUsuario.length>0">
            <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresCedulaUsuario">
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresFechaNacimientoUsuario.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="fechaNacimientoId">Fecha de Nacimiento:*</label>
        </div>
        <div class="ui-grid-col-6">
          <p-calendar id="fechaNacimientoId" [monthNavigator]="true" [yearNavigator]="true" [locale]="configuracion" yearRange="1950:2018" [showIcon]="true"
            dateFormat="yy-mm-dd" dataType="string" placeholder="Ingrese fecha de nacimiento" formControlName='fechaNacimiento'></p-calendar>
          <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresFechaNacimientoUsuario.length>0">
            <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresFechaNacimientoUsuario">
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresTelefonoUsuario.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label"  for="telefonoId">Celular:*</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText maxlength=10  class="form-control" id="telefonoId" type="text" placeholder="Ingrese el teléfono celular" formControlName='telefono'>
          <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresTelefonoUsuario.length>0">
            <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresTelefonoUsuario">
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresDireccionUsuario.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="direccionId">Dirección:*</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText class="form-control" id="direccionId" type="text" placeholder="Ingrese la dirección" formControlName='direccion'
          />
          <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresDireccionUsuario.length>0">
            <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresDireccionUsuario">
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresGenero.length>0}">
          <div class="ui-grid-col-2">
              <label class="control-label" for="generoId"> Genero:*</label>
          </div>
          <div class="ui-grid-col-6">
              <div class="ui-grid-row" style="width:250px;margin-bottom:10px">
                  <div class="ui-grid-col-6">
                      <p-radioButton name="group2" value="femenino" label="Femenino" inputId="optGenero1" formControlName='genero'></p-radioButton>
                  </div>
                  <div class="ui-grid-col-6">
                      <p-radioButton name="group2" value="masculino" label="Masculino" inputId="optGenero2" formControlName='genero'></p-radioButton>
                  </div>
              </div>
              <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresGenero.length>0">
                  <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresGenero">
                    <p>{{mensaje}}</p>
                  </div>
                </div>
          </div>
      </div>
      <div class="form-group ui-grid-col" [ngClass]="{'has-error': mensajesErroresCorreoUsuario.length>0}">
        <div class="ui-grid-col-2">
          <label class="control-label" for="correodId">Correo Electrónico:</label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText class="form-control" id="correodId" type="email" placeholder="Ingrese el correo electrónico" formControlName='correoElectronico'
          />
          <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresCorreoUsuario.length>0">
            <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresCorreoUsuario">
              <p>{{mensaje}}</p>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

</form>