<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Lista de productos'" [icono]="icono"></app-barra-titulo>

  <br>
  <form class="form-group" autocomplete="off">
      <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Busque por nombre" [(ngModel)]="parametroBusqueda"
              name="parametroBusqueda" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
                <div class="col-sm-6" style="padding-right: 1%">
                  <button (click)="obtenerPorParametro()" class="btn btn-primary btn-block hvr-icon-pulse">
                    <i class="fas fa-search hvr-icon"></i>
                    Buscar</button>
                </div>
                <div class="col-sm-6" style="padding-left: 1%">
      
                  <button *ngIf="mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button"
                    [routerLink]="['/app','producto','crear']">
                    <i class="fas fa-plus hvr-icon"></i>
                    Añadir</button>
                </div>
              </div>
            </div>
      
          </div>
        </div>
  </form>

  <br>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <p-table [columns]="columnas" [value]="arregloProductos" [paginator]="true" [rows]="10" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-producto>
              <tr class="text-center">
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio | currency}}</td>
                <td>
                  <button  [disabled]="!habilitarBoton" (click)="cambiarEstado(producto)" type="button" [ngClass]="{'btn-danger': producto.estado==0}" class="btn btn-success btn-block hvr-icon-pulse">
                    <i *ngIf="producto.estado==0" style="padding-right: 1%" class="fas fa-times-circle hvr-icon"></i>
                    <i *ngIf="producto.estado==1" style="padding-right: 1%" class="fas fa-check-circle hvr-icon"></i>
                    {{producto.estado === 1? "Activo": "Inactivo"}}
                    </button>

                </td>
                <td>
                  <div class="row  justify-content-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                      <button *ngIf="mostrarBoton" [routerLink]="['/app','producto','editar',producto.id]" type="button"
                        class="btn btn-warning hvr-icon-pulse">
                        <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                        Editar</button>
                      <button [routerLink]="['/app','producto','ver',producto.id]" type="button"
                        class="btn btn-primary hvr-icon-pulse">
                        <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                        Ver</button>

                    </div>

                  </div>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>


</div>
<br>