<div class="container">
    <h3 mat-dialog-title>
        <img [src]="icono">
      {{ !data.planDietaDia? 'Añadir Dieta a Plan de Dieta' : 'Editar selección de dieta'}}</h3>
    <hr>
<div>
  <div class="row ">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2">
          <label class="control-label">Dieta</label>
        </div>
        <div class="col-sm-10">
          <input type="text" pInputText class="form-control" [disabled]="true" [value]="dieta.nombre">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div>
    <app-formulario-plan-dieta-dia [planDietaDiaSeleccionado]="planDietaDiaACrearEditar" (esValidoFormularioPlanDietaDia)="escucharFormularioPlanDietaDia($event)"></app-formulario-plan-dieta-dia>
  </div>
</div>
<br>

<div mat-dialog-actions class="container">
    <div class="ui-grid-col-12">
        <div class="justify-content-center">
            <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                <button [disabled]="!esFormularioPlanDietaDiaValido" type="button" 
                class="btn btn-primary hvr-icon-pulse col-sm-6" (click)="verificarAccion()">
                  <i style="padding-right: 5%" class="fas fa-upload hvr-icon"></i>
                  Guardar
                </button>
                <button (click)="onNoClick()" type="button" class="btn btn-info hvr-icon-pulse col-sm-6">
                  <i style="padding-right: 5%" class="fas fa-times">
                  </i>
                  Cancelar
                </button>
            </div>
        </div>
    </div>
</div>   

</div>
