<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Ver pago'" [icono]="icono"></app-barra-titulo>
    <br>
    <div *ngIf="facturaAVer">
        <app-formulario-cabecera-factura
        [cabeceraSeleccionada]="facturaAVer"
        [esFormularioVer]="true"
        ></app-formulario-cabecera-factura>
    </div>
    <br>
    <div class="ui-grid-row">
            <div class="ui-grid-col-12">
                    <div class="ui-grid-row  justify-content-center">
                            <div class="ui-grid-col-12">
                                    <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                            <button (click)="irListarFacturas()" class="ui-grid-col-12 btn btn-info">
                                                    <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                    </div>
                            </div>
                    </div>
            </div>
    </div>
</div>
<br>