<h1 mat-dialog-title>
  <i class="fa fa-shopping-cart" style="padding-right: 2%"></i>
  Añadir Producto</h1>
<hr>
<div  mat-dialog-content>
  <app-formulario-producto (esValidoFormularioProducto)="escucharFormularioProducto($event)"></app-formulario-producto>
</div>
<div mat-dialog-actions class="row">
<div class="col-sm-12" style="padding-left: 25%">
  <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
    <button (click)="onNoClick()"  type="button" class="btn btn-success hvr-icon-pulse">
        <i style="padding-right: 1%" class="fas fa-times">
        </i>
        Cancelar
      </button>
  <button 
 
    [disabled]="!esFormularioProductoValido"
    type="button"  class="btn btn-primary hvr-icon-pulse"  (click)="crearProducto()">
      <i style="padding-right: 1%" class="fas fa-upload"></i> Añadir
    </button>
  </div>
</div>       
</div>