<div class="container">
    <h1 mat-dialog-title>
        <img [src]="icono">
      {{ !data.comidaDieta? 'Añadir Comida A Dieta' : 'Editar selección de comida'}}</h1>
    <hr>
    <div mat-dialog-content>
      <div class="row ">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-2">
              <label class="control-label" for="comidaId">Comida</label>
            </div>
            <div *ngIf="comida" class="col-sm-9">
                <textarea pInputTextarea [value]="comida.descripcion" [disabled]="true" autoResize="autoResize" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row ">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <label class="control-label">Tipo</label>
              </div>
              <div *ngIf="comida" class="col-sm-9">
                  <input pInputText class="form-control"  [value]="comida.tipo.nombre" [disabled]="true" type="text" placeholder="Ingrese el nombre">
                </div>
            </div>
          </div>
        </div>
      <br>
      <app-formulario-comida-dieta 
      [comidaDietaSeleccionado]="dietaComidaACrearEditar" 
      (esValidoFormularioComidaDieta)="escucharFormularioComidaDieta($event)"></app-formulario-comida-dieta>
    </div>
    <div mat-dialog-actions class="container">
        <div class="ui-grid-col-12">
            <div class="justify-content-center">
                <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                    <button [disabled]="!esFormularioComidaDietaValida" type="button" 
                    class="btn btn-primary hvr-icon-pulse col-sm-6" (click)="guardarComidaDieta()">
                      <i style="padding-right: 1%" class="fas fa-upload hvr-icon "></i>
                      Guardar
                  </button>
                    <button (click)="onNoClick()" type="button" class="btn btn-info hvr-icon-pulse col-sm-6">
                      <i style="padding-right: 1%" class="fas fa-times">
                      </i>
                      Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>   
    
</div>
