<div class="container">
    <br>
    <app-migas-pan [items]="items"></app-migas-pan>
    <br>
    <app-barra-titulo [titulo]="'Lista de rutinas'" [icono]="icono"></app-barra-titulo>
    <br>
    <app-tabla-rutinas></app-tabla-rutinas>

</div>
<br>