<div class="row">
    <form class="form-group col-sm-7" autocomplete="off">
      <div class="row">
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Busque por nombre" [(ngModel)]="nombre"
            name="nombre" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-3">
            <button (click)="obtenerPorParametro()" class="btn btn-primary btn-block hvr-icon-pulse">
                <i class="fas fa-search hvr-icon"></i>
                Buscar</button>
        </div>
      </div>
    </form>
  
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-8">
            <p-dropdown id="dropdownMusculosId" [dropdownIcon]="'pi pi-search'" [placeholder]="'Busque por músculo'"
            (onChange)="buscarPorMusculo($event)" [options]="arregloMusculos" [(ngModel)]="musculoSeleccionado"></p-dropdown>
        </div>
        <div class="col-sm-4">
            <button *ngIf="!mostrarEnFormulario && mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button" [routerLink]="['/app','rutina','crear']">
              <i class="fas fa-plus hvr-icon"></i>
              Añadir</button>
        </div>
      </div>
    </div>
</div>
<br>
<div class="row">
  <div>
    <div class="container">
      <div class="content-section implementation">
        <p-table [value]="arregloRutina" [columns]="columnas" [paginator]="true" [rows]="filas" [responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columnas.length">
                No existen registros
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rutina>
            <tr class="text-center">
              <td>{{rutina.nombre}}</td>
              <td>{{rutina.musculo}}</td>
              <td *ngIf="!mostrarEnFormulario">
                <button  [disabled]="!habilitarBoton" (click)="cambiarEstado(rutina)" type="button" [ngClass]="{'btn-danger': rutina.estado=='0'}" class="btn btn-success btn-block hvr-icon-pulse">
                  <i *ngIf="rutina.estado=='0'" style="padding-right: 1%" class="fas fa-times-circle hvr-icon"></i>
                  <i *ngIf="rutina.estado=='1'" style="padding-right: 1%" class="fas fa-check-circle hvr-icon"></i>
                  {{rutina.estado === 1? "Activo": "Inactivo"}}</button>
              </td>
              <td>
                <div class="row  justify-content-center">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                    <button  *ngIf="!mostrarEnFormulario && mostrarBoton" [routerLink]="['/app','rutina','editar',rutina.id]" type="button" class="btn btn-warning hvr-icon-pulse">
                      <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                      Editar</button>
                    <button *ngIf="mostrarEnFormulario" (click)="abrirModalSeleccionarRutina(rutina)" type="button" class="btn btn-success hvr-icon-pulse">
                      <i style="padding-right: 0%" class="far fa-hand-pointer hvr-icon"></i>
                      Seleccionar</button>
                    <button (click)="abrirModalOVistaVerRutina(rutina)" type="button" class="btn btn-primary hvr-icon-pulse">
                      <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                      Ver</button>

                  </div>

                </div>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>