<div class="container" *ngIf="cliente">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Lista de planes de dieta asignados'" [icono]="icono"></app-barra-titulo>
<br>
  <div *ngIf="cliente"> 
      <app-informacion-cliente [cliente]="cliente"></app-informacion-cliente>
  </div>
<br>
<div class="row">
    <div class="col-sm-6">
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <button *ngIf="mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button"
        [routerLink]="['/app','cliente',cliente.id,'planes-dieta','crear']"
        >
        <i class="fas fa-plus hvr-icon"></i>
          Asignar plan de dieta</button>
      </div>
</div>
<br>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <p-table [columns]="columnas" [value]="arregloPlanesDietaCliente" [paginator]="true" [rows]="10" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-planDietaCliente>
              <tr class="text-center">
                <td>{{planDietaCliente.fechaInicio}}</td>
                <td>{{planDietaCliente.fechaFin}}</td>
                <td>{{planDietaCliente.planDieta.nombre}}</td>
                <td>
                  <div class="row justify-content-center">
                    <div  class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                      <button *ngIf="mostrarBoton" [routerLink]="['/app','cliente',cliente.id,'planes-dieta','editar',planDietaCliente.id]" type="button" class="btn btn-warning hvr-icon-pulse">
                        <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                        Editar</button>
                      <button [routerLink]="['/app','cliente',cliente.id,'planes-dieta','ver',planDietaCliente.id]" type="button" class="btn btn-primary hvr-icon-pulse">
                        <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                        Ver</button>
                      <button *ngIf="habilitarBoton" type="button" class="btn btn-danger hvr-icon-pulse" (click)="confirmar(planDietaCliente)">
                        <i style="padding-right: 0%" class="far fa-trash-alt hvr-icon"></i>
                        Quitar</button>
                    </div>

                  </div>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>


  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>

</div>
<br>