<form [formGroup]='formularioDetalle' novalidate autocomplete="off">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-col-12">
      <div class="form-group ui-grid-row">
        <div class="ui-grid-col-3">
          <label class="control-label">Producto: </label>
        </div>
        <div class="ui-grid-col-9">
          <p-dropdown formControlName='producto' [autoWidth]="false" [placeholder]="'Seleccione un producto'" (onChange)="escucharEventoNombre($event)" [options]="arregloProductos"
            filter="true"></p-dropdown>
        </div>
      </div>

      <div class="form-group ui-grid-row">
          <div class="ui-grid-col-3">
              <label class="control-label" for="descripcionId">Descripción</label>
          </div>
          <div class="ui-grid-col-9">
              <input pInputText formControlName='descripcion' class="form-control" id="descripcionId" type="text">
          </div>
        </div>

        <div class="form-group ui-grid-row">
            <div class="ui-grid-col-3">
                <label class="control-label" for="precioId">Precio ($)</label>
          </div>
          <div class="ui-grid-col-9">
              <input pInputText formControlName='precio' class="form-control" id="precioId" type="number" >
          </div>
        </div>


      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresCantidad.length>0}">
        <div class="ui-grid-col-3">
          <label class="control-label" for="cantidadId">Cantidad</label>
        </div>
        <div class="ui-grid-col-9">
          <input pInputText formControlName='cantidad' class="form-control" id="cantidadId" type="number" min="1" step="1" placeholder="Ingrese la cantidad">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresCantidad.length>0">
              <div *ngFor="let mensaje of mensajesErroresCantidad">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresTotal.length>0}">
        <div class="ui-grid-col-3">
          <label class="control-label" for="totalId">Total ($)</label>
        </div>
        <div class="ui-grid-col-9">
          <input pInputText formControlName='total' min="0" class="form-control" id="totalId" type="number">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresTotal.length>0">
              <div *ngFor="let mensaje of mensajesErroresTotal">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>