<form [formGroup]='formularioCliente' novalidate autocomplete="off">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-grid-col-12">
            <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresCodigoCliente.length>0}">
                <div class="ui-grid-col-2">
                    <label class="control-label" for="codigoId">Código:*</label>
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText class="form-control" id="codigoId" type="text" formControlName='codigo' />
                    <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresCodigoCliente.length>0">
                        <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresCodigoCliente">
                          <p>{{mensaje}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresFechaRegistroCliente.length>0}">
                    <div class="ui-grid-col-2">
                      <label class="control-label" for="fechaRegistroId">Fecha de Registro:*</label>
                    </div>
                    <div class="ui-grid-col-6">
                      <p-calendar id="fechaRegistroId" [monthNavigator]="true" [yearNavigator]="true" [locale]="configuracion" yearRange="1950:2018" [showIcon]="true"
                        dateFormat="yy-mm-dd" dataType="string" placeholder="Ingrese fecha de Registro" formControlName='fechaRegistro'></p-calendar>
                      <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresFechaRegistroCliente.length>0">
                        <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresFechaRegistroCliente">
                          <p>{{mensaje}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
            <!-- <div *ngIf="!esFormularioCrear" class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresRolCliente.length>0}">
                <div class="ui-grid-col-2">
                    <label class="control-label" for="rolId"> Rol:*</label>
                </div>
                <div class="ui-grid-col-6">
                    <p-dropdown [autoWidth]="false" [options]="roles" formControlName='rol' [disabled]="true"></p-dropdown>
                    <div class="animated fadeInUp  alert alert-danger" *ngIf="mensajesErroresRolCliente.length>0">
                        <div class="animated fadeInUp " *ngFor="let mensaje of mensajesErroresRolCliente">
                          <p>{{mensaje}}</p>
                        </div>
                      </div>
                </div>
            </div> -->
        </div>
    </div>
</form>