<form [formGroup]='formularioClase' novalidate autocomplete="off">
  <p-panel header="Clase" [toggleable]="true">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="nombreId">Nombre *:</label>
            </div>
            <div class="ui-grid-col-6">
              <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
                  <div *ngFor="let mensaje of mensajesErroresNombre">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="descripcionId">Descripción</label>
            </div>
            <div class="ui-grid-col-6">
              <textarea pInputTextarea autoResize="autoResize" formControlName='descripcion' class="form-control" id="descripcionId" placeholder="Ingrese la descripción"></textarea>
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                  <div *ngFor="let mensaje of mensajesErroresDescripcion">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="esFormularioVer || esFormularioEditar" class="form-group  ui-grid-row" [ngClass]="{'has-error': mensajesErroresEstado.length>0}">
            <div class="ui-grid-col-2">
              <label class="control-label" for="dropdownEstado">Estado *:</label>
            </div>
            <div class="ui-grid-col-6">
              <p-dropdown id="dropdownEstado" [placeholder]="'seleccione un estado'" formControlName='estado'
                [options]="estados" [autoWidth]="false"></p-dropdown>
              <div>
                <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresEstado.length>0">
                  <div *ngFor="let mensaje of mensajesErroresEstado">
                    <p class="">{{mensaje}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </p-panel>
  <br>
</form>

<p-panel header="Horas y dias de clase" [toggleable]="true">
  <div *ngIf="!esFormularioVer">
    <form class="form-group" autocomplete="off">
      <div class="row">
        <div class="col-sm-6">
          <div class="ui-g">
            <div class="ui-g-12">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
              <div class="col-sm-6" style="padding-right: 1%">
              </div>
              <div class="col-sm-6" style="padding-left: 1%">
                <button *ngIf="!esFormularioVer" class="btn btn-success btn-block hvr-icon-pulse" type="button" (click)="abrirModalClaseHoraDia()">
                  <i class="fas fa-plus hvr-icon"></i>
                  Añadir hora</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <br>
    </form>
  </div>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <p-table [columns]="columnas" [value]="arregloClasesHoraSeleccionadas" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr class="text-center">
                <th *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
              <tr class="text-center">
                <td>{{rowData.nombresDias}}</td>
                <td>{{rowData.horaInicio}}</td>
                <td>{{rowData.horaFin}}</td>
                <td>{{rowData.instructor.usuario.nombres + ' ' + rowData.instructor.usuario.apellidos}}</td>
                <td *ngIf="!esFormularioVer">
                  <div class="row justify-content-center">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                      <button type="button" class="btn btn-warning hvr-icon-pulse" (click)="abrirModalEditarClaseHoraDia(rowData)">
                        <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                        Editar</button>
                      <button type="button" class="btn btn-danger hvr-icon-pulse" (click)="confirmar(rowData)">
                        <i style="padding-right: 5%" class="fas fa-trash-alt hvr-icon"></i>
                        Quitar
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</p-panel>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>