<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Ver producto'" [icono]="icono"></app-barra-titulo>

  <br>
  <p-panel header="Producto">
    <div class="container">
      <div>
        <div *ngIf="productoAVer">
          <app-formulario-producto [productoSeleccionado]="productoAVer" [esFormularioVer]="true"></app-formulario-producto>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <div class="ui-grid-row  justify-content-center">
                <div class="ui-grid-col-6">
                  <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                     <button (click)="irListarProductos()" class="ui-grid-col-12 btn btn-info">
                      <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <br>
  </p-panel>
</div>
<br>