<div class="row">
    <form class="form-group col-sm-7" autocomplete="off">
      <div class="row">
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Busque por descripción" [(ngModel)]="descripcion"
            name="parametroBusqueda" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-3">
            <button (click)="obtenerPorDescripcion()" class="btn btn-primary btn-block hvr-icon-pulse">
                <i class="fas fa-search hvr-icon"></i>
                Buscar</button>
        </div>
      </div>
    </form>
  
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-8">
            <p-dropdown [placeholder]="'Busque por tipo de comida'"  [options]="arregloTiposComida" (onChange)="escucharEventoTipoComida($event)"></p-dropdown>
        </div>
        <div class="col-sm-4">
            <button *ngIf="!mostrarEnFormulario && mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button" [routerLink]="['/app','comida','crear']">
              <i class="fas fa-plus hvr-icon"></i>
              Añadir</button>
        </div>
      </div>
    </div>
</div>
  <br>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <p-table 
          [value]="arregloComidas" 
          [columns]="columnas" 
          [paginator]="true" 
          [rows]="filas" 
          [responsive]="true">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columnas.length">
                  No existen registros
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-comida>
              <tr class="text-center">
                <td>{{arregloComidas.indexOf(comida)+1}}</td>
                <td>{{comida.tipo.nombre}}</td>
                <td>
                  <textarea pInputTextarea [value]="comida.descripcion" [disabled]="true" autoResize="autoResize" class="form-control"></textarea>
                </td>
                <td *ngIf="!mostrarEnFormulario">
                  <button  [disabled]="!habilitarBoton" (click)="cambiarEstado(comida)" type="button" [ngClass]="{'btn-danger': comida.estado=='0'}" class="btn btn-success btn-block hvr-icon-pulse">
                    <i *ngIf="comida.estado=='0'" style="padding-right: 1%" class="fas fa-times-circle hvr-icon"></i>
                    <i *ngIf="comida.estado=='1'" style="padding-right: 1%" class="fas fa-check-circle hvr-icon"></i>
                    {{comida.estado === 1? "Activo": "Inactivo"}}</button>
                </td>
                <td *ngIf="mostrarBoton">
                  <div class="row justify-content-center">
                    <div  class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                      <button *ngIf="!mostrarEnFormulario " [routerLink]="['/app','comida','editar',comida.id]" type="button" class="btn btn-warning hvr-icon-pulse">
                        <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                        Editar</button>
                        <button *ngIf="mostrarEnFormulario" (click)="abrirModalComidaDieta(comida)" type="button" class="btn btn-success hvr-icon-pulse">
                          <i style="padding-right: 5%" class="fas fa-hand-pointer hvr-icon"></i>
                          Seleccionar</button>
                    </div>

                  </div>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
