<form [formGroup]='formularioPlanEntrenamiento' novalidate autocomplete="off">
  <div class="row ">
    <div class="col-sm-12">
        <p-panel header="Plan de entrenamiento" [toggleable]="true">
            <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="form-group row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
                    <div class="col-sm-2">
                      <label class="control-label" for="nombreId">Nombre:*</label>
                    </div>
                    <div class="col-sm-8">
                      <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
                      <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
                          <div *ngFor="let mensaje of mensajesErroresNombre">
                            <p class="">{{mensaje}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            
                  <div class="form-group row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
                    <div class="col-sm-2">
                      <label class="control-label" for="descripcionId">Descripción</label>
                    </div>
                    <div class="col-sm-8">
                      <textarea pInputTextarea autoResize="autoResize" formControlName='descripcion' class="form-control" id="descripcionId" placeholder="Ingrese la descripción"></textarea>
                      <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                          <div *ngFor="let mensaje of mensajesErroresDescripcion">
                            <p class="">{{mensaje}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </p-panel>

    </div>
  </div>
</form>
<br>
<div *ngIf="!esFormularioVer">
  <p-panel header="Lista de rutinas" [toggleable]="true">
    <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <app-tabla-rutinas [mostrarEnFormulario]="true" (rutinaPlanEntrenamientoSeleccionado)="escucharRutinaPlanEntrenamientoSeleccionado($event)"></app-tabla-rutinas>
    </div>
</p-panel>
<br>
</div>

<p-panel header="Rutinas seleccionadas" [toggleable]="true">
    <div *ngIf="esFormularioVer" class="row">
        <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
            <div class="col-sm-10" style="padding-right: 1%">
            </div>
            <div class="col-sm-2" style="padding-left: 1%">
                <button class="btn btn-success btn-block hvr-icon-pulse" 
                type="button" (click)="imprimir()">
                    <i class="fas fa-print hvr-icon"></i>
                    Ver en PDF</button>
            </div>
        </div>
        <br>
    </div>
    <div class="container ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div *ngIf="arregloRutinaPlanEntrenamiento.length==0">
              <p style="color: red">Debe seleccionar al menos una rutina</p>
            </div>
            <div *ngIf="arregloRutinaPlanEntrenamiento.length >0">
              <div>
                <p-table [value]="arregloRutinaPlanEntrenamiento" sortField="nombreDia" sortMode="single" (onSort)="onSort()">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 10%" scope="col">Dia</th>
                      <th style="width: 40%" scope="col">Rutina</th>
                      <th style="width: 20%" scope="col">Músculo</th>
                      <th style="width: 30%" scope="col">Acciones</th>
      
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                      <td *ngIf="rowGroupMetadata[rowData.nombreDia].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.nombreDia].size">
                        {{rowData.dia.nombre}}
                    </td>
                      <td>{{rowData.rutina.nombre}}</td>
                      <td>{{rowData.rutina.musculo}}</td>
                      <td>
                        <div class="row justify-content-center">
                          <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                            <button *ngIf="!esFormularioVer" type="button" class="btn btn-warning hvr-icon-pulse" (click)="abrirModalEditarRutinaPlanEntrenamiento(rowData)">
                              <i style="padding-right: 5%" class="fas fa-edit hvr-icon"></i>
                              Editar</button>
                              <button type="button" (click)="abrirModalVerRutina(rowData.rutina)" class="btn btn-primary hvr-icon-pulse">
                                  <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                                  Ver </button>
                            <button *ngIf="!esFormularioVer" type="button" class="btn btn-danger hvr-icon-pulse" (click)="confirmar(rowData)">
                              <i style="padding-right: 0%" class="far fa-trash-alt hvr-icon"></i>
                              Quitar</button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>      
              </div>
      
            </div>
    </div>
</p-panel>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" #cd>
    <p-footer>
      <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
    </p-footer>
  </p-confirmDialog>