<h1 mat-dialog-title>
        <i class="fas fa-chart-line" style="padding-right: 2%"></i>
        Gráfico de Medidas</h1>
<div mat-dialog-content>
        <p-dropdown [options]="nombreMedidas" (onChange)="mostrarGrafico($event)"></p-dropdown>
        <br>
        <br>
        <p-chart type="line" [data]="datos" [responsive]="true"></p-chart>
</div>
<br>
<div mat-dialog-actions class="container">
        <div class="ui-grid-col-12">
                <div class="justify-content-center">
                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                <button (click)="onNoClick()" class="ui-grid-col-12 btn btn-info">
                                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                        </div>
                </div>
        </div>
</div>