<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Lista de planes de dieta'" [icono]="icono"></app-barra-titulo>
  <br>
  <app-tabla-planes-dieta [numeroRegistro]="15"></app-tabla-planes-dieta>
</div>
<br>