<form [formGroup]='formularioComida' novalidate autocomplete="off">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <div class="form-group  ui-grid-row" [ngClass]="{'has-error': mensajesErroresTipo.length>0}">
                        <div class="ui-grid-col-2">
                          <label class="control-label" for="dropdownTiposComidaId">Tipo *:</label>
                        </div>
                        <div class="ui-grid-col-6">
                          <p-dropdown id="dropdownTiposComidaId" [placeholder]="'seleccione un tipo'" formControlName='tipo'
                            [options]="arregloTiposComida" [autoWidth]="false"></p-dropdown>
                          <div>
                            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresTipo.length>0">
                              <div *ngFor="let mensaje of mensajesErroresTipo">
                                <p class="">{{mensaje}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                  <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
                    <div class="ui-grid-col-2">
                      <label class="control-label" for="descripcionId">Descripción *:</label>
                    </div>
                    <div class="ui-grid-col-6">
                      <textarea pInputTextarea autoResize="autoResize" formControlName='descripcion' class="form-control" id="descripcionId" placeholder="Ingrese la descripción"></textarea>
                      <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                          <div *ngFor="let mensaje of mensajesErroresDescripcion">
                            <p class="">{{mensaje}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>     
                </div>
              </div>
        </div>
</form>