    <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button #btn type="button" pButton icon="pi pi-bars" (click)="mostrarMenuPanel()"></button>
          <button #btn type="button" pButton icon="pi pi-home" [routerLink]="['/app','inicio']" ></button>
        </div>

        <div class="ui-toolbar-group-right" *ngIf="usuario">
            <img class="img-circle"
            width="34"
            height="33"
            [src]="urlImagenUsuario" alt="">
            <p-splitButton  
            [label]="usuario.nombres + ' ' + usuario.apellidos"
            [model]="opcionesMenuPerfil" multiple="false"
            (onClick)="irPerfil()"
            >
            </p-splitButton>
        </div>
    </p-toolbar>
<div class="row">
  <div *ngIf="mostrarMenu" class="col-sm-2">
      <p-panelMenu  [multiple]="!mostrarMenu" [model]="items" [style]="{'width':'200px'}"></p-panelMenu>
    </div>

  <div [ngClass]="{'col-sm-12': !mostrarMenu}" class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
</div>

<toaster-container></toaster-container>