<div class="container">
  <br>
  <app-migas-pan [items]="items"></app-migas-pan>
  <br>
  <app-barra-titulo [titulo]="'Lista de clases'" [icono]="icono"></app-barra-titulo>
  <br>

  <form class="form-group" autocomplete="off">
      <div class="row">
          <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="Busque por nombre" [(ngModel)]="parametroBusqueda" name="parametroBusqueda"
              aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" style="width: 130%">
                <div class="col-sm-6" style="padding-right: 1%">
                  <button (click)="buscarClases()" class="btn btn-primary btn-block hvr-icon-pulse">
                    <i class="fas fa-search hvr-icon"></i>
                    Buscar</button>
                </div>
                <div class="col-sm-6" style="padding-left: 1%">
                    <button *ngIf="mostrarBoton" class="btn btn-success btn-block hvr-icon-pulse" type="button" [routerLink]="['/app','clase','crear']">
                      <i class="fas fa-plus hvr-icon"></i>
                      Añadir</button>
                </div>
              </div>
            </div>
      
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3">
            <button (click)="verHorarioOListaClases()" class="btn btn-primary btn-block hvr-icon-pulse">
              <i class="fas fa-list-ul hvr-icon"></i>
              {{!verHorario ? 'Ver Horario' : 'Ver lista de clases'}}</button>
          </div>
        </div>
  </form>
  <div class="row">
    <div>
      <div class="container">
        <div class="content-section implementation">
          <div *ngIf="verHorario">
              <p-table [columns]="columnas2" [value]="arregloClasesHora" [responsive]="true"  sortField="nombreDia" sortMode="single" (onSort)="onSort()">
                  <ng-template pTemplate="header" let-columns>
                      <tr class="text-center">
                        <th *ngFor="let col of columns" [style.width]="col.width">
                          {{col.header}}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                          <td [attr.colspan]="columnas2.length">
                            No existen registros
                          </td>
                        </tr>
                      </ng-template>
                  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                      <tr>
                          <td *ngIf="rowGroupMetadata[rowData.nombreDia].index === rowIndex" [attr.rowspan]="rowGroupMetadata[rowData.nombreDia].size">
                              {{rowData.dia.nombre}}
                          </td>
                          <td>{{rowData.claseHora.clase.nombre + ' ' + rowData.claseHora.horaInicio + ' - ' + rowData.claseHora.horaFin}}</td>
                          <td>{{rowData.claseHora.instructor.usuario.nombres +' ' +rowData.claseHora.instructor.usuario.apellidos }}</td>
                          <td *ngIf="!esFormularioVer">
                            <div class="row justify-content-center">
                              <div class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                                <button *ngIf="mostrarBoton" type="button" class="btn btn-warning hvr-icon-pulse" [routerLink]="['/app','clase','editar',rowData.claseHora.clase.id]">
                                  <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                                  Editar</button>
                                  <button [routerLink]="['/app','clase','ver',rowData.claseHora.clase.id]" type="button" class="btn btn-primary hvr-icon-pulse">
                                    <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                                    Ver</button>
                              </div>
                            </div>
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
          <div *ngIf="!verHorario">
              <p-table [columns]="columnasClases" [value]="arregloClases" [responsive]="true">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th class="text-center" *ngFor="let col of columns" [style.width]="col.width">
                        {{col.header}}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                      <td [attr.colspan]="columnasClases.length">
                        No existen registros
                      </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-clase>
                    <tr class="text-center">
                      <td>{{clase.nombre}}</td>
                      <td>
                        <button  [disabled]="!habilitarBoton" (click)="cambiarEstado(clase)" type="button" [ngClass]="{'btn-danger': clase.estado=='0'}" class="btn btn-success btn-block hvr-icon-pulse">
                          <i *ngIf="clase.estado=='0'" style="padding-right: 1%" class="fas fa-times-circle hvr-icon"></i>
                          <i *ngIf="clase.estado=='1'" style="padding-right: 1%" class="fas fa-check-circle hvr-icon"></i>
                          {{clase.estado === 1? "Activo": "Inactivo"}}</button>
                      </td>
                      <td>
                        <div class="row  justify-content-center">
                          <div  class="btn-group btn-group-toggle" data-toggle="buttons" role="group">
                            <button *ngIf="mostrarBoton" [routerLink]="['/app','clase','editar',clase.id]" type="button" class="btn btn-warning hvr-icon-pulse">
                              <i style="padding-right: 0%" class="fas fa-edit hvr-icon"></i>
                              Editar</button>
                              <button [routerLink]="['/app','clase','ver',clase.id]" type="button" class="btn btn-primary hvr-icon-pulse">
                                <i style="padding-right: 5%" class="fas fa-list-ul hvr-icon"></i>
                                Ver</button>
                          </div>
      
                        </div>
                      </td>
      
                    </tr>
                  </ng-template>
                </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>