<form [formGroup]='formularioEjercicio' novalidate autocomplete="off">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class=" ui-grid-col-12">
            <div class="form-group  ui-grid-row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
                <div class="ui-grid-col-2">
                    <label class="control-label" for="nombreId">Nombre:*</label>
                </div>
                <div [ngClass]="{'ui-grid-col-10': esFormularioVerModal}"  class=" ui-grid-col-6">
                    <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
                    <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
                            <div *ngFor="let mensaje of mensajesErroresNombre">
                                <p class="">{{mensaje}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group  ui-grid-row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
                <div class=" ui-grid-col-2">
                    <label class="control-label" for="descripcionId">Descripción:*</label>
                </div>
                <div [ngClass]="{'ui-grid-col-10': esFormularioVerModal}" class=" ui-grid-col-6">
                    <textarea pInputTextarea autoResize="autoResize" formControlName='descripcion' class="form-control" id="descripcionId" placeholder="Ingrese la descripción"></textarea>
                    <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                            <div *ngFor="let mensaje of mensajesErroresDescripcion">
                                <p class="">{{mensaje}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group  ui-grid-row" [ngClass]="{'has-error': mensajesErroresMusculos.length>0}">
                <div class=" ui-grid-col-2">
                    <label class="control-label" for="musculosId">Músculos:*</label>
                </div>
                <div [ngClass]="{'ui-grid-col-10': esFormularioVerModal}" class=" ui-grid-col-6">
                    <p-multiSelect formControlName='musculos' [maxSelectedLabels]="arregloMusculos.length" id="musculosId" [defaultLabel]="etiquetaPorDefectoDropdown"
                        [options]="arregloMusculos" [panelStyle]="{minWidth:'12em'}" [displaySelectedLabel]="false" (onChange)="setearEtiquetaDropdown()"></p-multiSelect>


                    <div>
                        <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresMusculos.length>0">
                            <div *ngFor="let mensaje of mensajesErroresMusculos">
                                <p class="">{{mensaje}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>