<div class="container">
    <h1 mat-dialog-title>
        <img [src]="icono">
      {{ !data.comidaDieta? 'Añadir Horas y Dias A la Clase' : 'Editar Horas y Dias de la Clase'}}</h1>    <hr>
    <app-formulario-clase-hora-dia 
    [claseHoraDiaSeleccionada]="claseHoraACrearEditar"
    (esValidoFormularioClaseHoraDia)="escucharFormularioClaseHora($event)"></app-formulario-clase-hora-dia>

    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <div class="ui-grid-row  justify-content-center">
                <div class="ui-grid-col-12">
                    <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                        <button [disabled]="!esFormularioClaseHoraValido" type="button" (click)="guardarClaseHoraDia()" class="ui-grid-col-6 btn btn-primary hvr-icon-pulse">
                            <i style="padding-right: 5%" class="fas fa-upload hvr-icon"></i>
                            Añadir
                        </button>
                        <button (click)="onNoClick()" type="button" class="ui-grid-col-6 btn btn-info hvr-icon-pulse">
                            <i style="padding-right: 5%" class="fas fa-times">
                            </i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>