<form [formGroup]='formularioProducto' novalidate autocomplete="off">
  <div class="row ">
    <div class="col-sm-12">
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresNombre.length>0}">
        <div class="col-sm-2">
          <label class="control-label" for="nombreId">Nombre: *</label>
        </div>
        <div class="col-sm-4">
          <input pInputText formControlName='nombre' class="form-control" id="nombreId" type="text" placeholder="Ingrese el nombre">
          <div>
            <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresNombre.length>0">
              <div *ngFor="let mensaje of mensajesErroresNombre">
                <p class="">{{mensaje}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresDescripcion.length>0}">
        <div class="col-sm-2">
          <label class="control-label" for="descripcionId">Descripción</label>
        </div>
        <div class="col-sm-4">
          <input pInputText formControlName='descripcion' class="form-control" id="descripcionId" type="text" placeholder="Ingrese la descripción">
          <div>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDescripcion.length>0">
                <div *ngFor="let mensaje of mensajesErroresDescripcion">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresMarca.length>0}">
        <div class="col-sm-2">
          <label class="control-label" for="marcaId">Marca</label>
        </div>
        <div class="col-sm-4">
          <input pInputText formControlName='marca' class="form-control" id="marcaId" type="text" placeholder="Ingrese la marca">
          <div >
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresMarca.length>0">
                <div *ngFor="let mensaje of mensajesErroresMarca">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': mensajesErroresPrecio.length>0}">
        <div class="col-sm-2">
          <label class="control-label" for="precioId">Precio ($): *</label>
        </div>
        <div class="col-sm-4">
          <input pInputText formControlName='precio' class="form-control" id="precioId" type="number" placeholder="Ingrese el precio">
          <div>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresPrecio.length>0">
                <div *ngFor="let mensaje of mensajesErroresPrecio">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</form>