<div class="container">
        <h1 mat-dialog-title>
                <img [src]="icono">
                Ver Ejercicio</h1>
        <hr>
        <div *ngIf="ejercicioAVer">
                <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4" style="padding-left: 3%">
                                <div class="row">
                                        <div class="col-sm-12" style="padding-left:25%">
                                                <img [src]="urlImagen + ejercicioAVer.urlImagen" alt="" style="max-width: 100%; height: auto; width: 150px;" class="img-thumbnail">
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-4"></div>
                </div>
                <br>
                <div *ngIf="ejercicioAVer">
                        <app-formulario-ejercicio [ejercicioSeleccionado]="ejercicioAVer" [esFormularioVer]="true" [esFormularioVerModal]="true"></app-formulario-ejercicio>
                </div>
        </div>
        <div mat-dialog-actions class="container">
                <div class="ui-grid-col-12">
                        <div class="justify-content-center">
                                <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                        <button (click)="onNoClick()" class="ui-grid-col-12 btn btn-info">
                                                <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                </div>
                        </div>
                </div>
        </div>
</div>