<div class="container">
        <br>
        <app-migas-pan [items]="items"></app-migas-pan>
        <br>
        <app-barra-titulo [titulo]="'Registrar pago'" [icono]="icono"></app-barra-titulo>
        <br>
        <app-formulario-cabecera-factura 
        [esFormularioCrear]="true"
        (esValidoFormularioCabecera)="escucharFormularioFactura($event)"
        ></app-formulario-cabecera-factura>
        <br>
        <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                        <div class="ui-grid-row  justify-content-center">
                                <div class="ui-grid-col-12">
                                        <div class="btn-group btn-block ui-grid-col-12" data-toggle="buttons" role="group">
                                                <button (click)="crearFactura()" [disabled]="!esFormularioFacturaValido" type="button" class="ui-grid-col-6 btn btn-primary">
                                                        <i style="padding-right: 1%" class="fas fa-upload"></i>Guardar</button>
                                                <button (click)="irListarFacturas()" class="ui-grid-col-6 btn btn-info">
                                                        <i style="padding-right: 1%" class=" fas fa-times "></i>Cancelar</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
<br>