  <form [formGroup]='formularioClaseHoraDia' novalidate autocomplete="off">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class=" ui-grid-col-12">

        <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajeErroresInstructor.length>0}">
          <div class=" ui-grid-col-3">
            <label class="control-label" for="instructorId">Instructor:*</label>
          </div>
          <div class=" ui-grid-col-9">
            <p-dropdown id="instructorId" [placeholder]="'seleccione un instructor'" formControlName='instructor' [options]="arregloInstructores" [autoWidth]="false"></p-dropdown>
            <div>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajeErroresInstructor.length>0">
                <div *ngFor="let mensaje of mensajeErroresInstructor">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group  ui-grid-row" [ngClass]="{'has-error': mensajesErroresDias.length>0}">
          <div class=" ui-grid-col-3">
            <label class="control-label" for="diaId">Días:*</label>
          </div>
          <div class=" ui-grid-col-9">
            <p-multiSelect formControlName='dias' [maxSelectedLabels]="arregloDias.length" id="diaId" [defaultLabel]="etiquetaPorDefectoDropdown"
              [options]="arregloDias" [panelStyle]="{minWidth:'12em'}" [displaySelectedLabel]="false" (onChange)="setearEtiquetaDropdown()"></p-multiSelect>
            <div>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresDias.length>0">
                <div *ngFor="let mensaje of mensajesErroresDias">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresHoraInicio.length>0}">
          <div class=" ui-grid-col-3">
            <label class="control-label" for="horaId">Hora Inicio</label>
          </div>
          <div class=" ui-grid-col-9">
            <input formControlName='horaInicio' type="time">
            <div>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresHoraInicio.length>0">
                <div *ngFor="let mensaje of mensajesErroresHoraInicio">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group ui-grid-row" [ngClass]="{'has-error': mensajesErroresHoraFin.length>0}">
          <div class=" ui-grid-col-3">
            <label class="control-label" for="horaId">Hora Fin</label>
          </div>
          <div class=" ui-grid-col-9">
            <input formControlName='horaFin' type="time">
            <div>
              <div class="animated fadeInUp alert alert-danger" *ngIf="mensajesErroresHoraFin.length>0">
                <div *ngFor="let mensaje of mensajesErroresHoraFin">
                  <p class="">{{mensaje}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </form>
